#textdomain wesnoth-help
# Traits for the [modifications] clause of SingleWML descriptions

	#define ZODIAC_SHORTCUT TRAIT
		[unit]
			side=$side_number
			type=$zodiac_unit_stored[0].type
			x,y=$x1,$y1
			upkeep=full
			attacks_left=0
			moves=0
			random_traits=no
			[modifications]
				{TRAIT}
			[/modifications]
		[/unit]
	#enddef

#define TRAIT_CHAMAELEON
    [trait]
        id=chamaeleon_trait
        male_name= _ "the chameleon"
        female_name= _ "female^the chameleon"
        description= _ "This unit’s defence is increased about 10%, up to a maximum of 60% and requires 20% less experience than usual to advance."
        help_text= _ "<italic>text='The Chameleon'</italic> is the ancestor of cunning and adaptability. It is said to have blessed the Saurians with their sharp minds and agility."
        [effect] #dodge +10%, but not more than 60%
            apply_to=new_ability
			[abilities]
				[chance_to_hit]
					id=chamaeleon_trait_ability
					sub=10
					cumulative=yes
					description= _ "When used defensively, this attack reduces the opponent’s chance to hit by 10%, but not more than 40%."
					active_on=defense
					apply_to=opponent
					name= _ "chamaeleon"
					female_name= _ "female^chamaeleon"
					[filter_base_value]
						greater_than=40
					[/filter_base_value]
				[/chance_to_hit]
			[/abilities]
        [/effect]
        [effect]
            apply_to=max_experience
            increase=-20%
        [/effect]
    [/trait]
#enddef

#define TRAIT_DRACO
    [trait]
        id=draco_trait
        male_name= _ "the dragon"
        female_name= _ "female^the dragon"
        description= _ "This unit’s resistances to fire and cold is increased by 20%, arcane is decreased by 20% and always rest heals."
        help_text= _ "<italic>text='The Dragon'</italic> is the protector of the Saurians, representing strength and inner fire. It shields them from elemental forces and inspires resilience."
        [effect]
            apply_to=resistance
			replace=no
            [resistance]
				fire=-20
				cold=-20
				arcane=+20
			[/resistance]
        [/effect]
        [effect]
            apply_to="healthy"
        [/effect]
        [effect]
            apply_to=hitpoints
            times=per level
            increase_total=1
        [/effect]
    [/trait]
#enddef

#define TRAIT_SERPENS
    [trait]
        id=serpens_trait
        male_name= _ "the snake"
        female_name= _ "female^the snake"
        description= _ "Immune to poison and poison enemies on enemy melee hits, but 5% less hitpoints than usual."
        help_text= _ "<italic>text='The Snake'</italic> symbolizes survival and cunning but is also seen as a harbinger of misfortune. The venomous skin prevents the Snake-born from bonding with others, leading to isolation."
        [effect]
            apply_to=status
            add=unpoisonable
        [/effect]
        [effect] ### poison skin
            apply_to=new_ability
			[abilities]
				{TRAIT_SPECIAL_POISONSKIN}
			[/abilities]
        [/effect]
        [effect]
            apply_to=hitpoints
            increase_total=-5%
        [/effect]
    [/trait]
#enddef

#define TRAIT_WYVERN
    [trait]
        id=wyvern_trait
        male_name= _ "the wyvern"
        female_name= _ "female^the wyvern"
		description= _ "Units do 1 more damage for every successful strike in range combat and have 1 extra movement point."
        help_text= _ "<italic>text='The Wyvern'</italic> is a majestic and fierce aerial hunter, revered as a symbol of grace and precision. It is believed to bestow its descendants with the ability to dominate from afar."
        [effect]
            apply_to=attack
            range=ranged
            increase_damage=1
        [/effect]
        [effect]
            apply_to=movement
            increase=1
        [/effect]
    [/trait]
#enddef

#define TRAIT_MOLOCH
    [trait]
        id=moloch_trait
        male_name= _ "The moloch"
        female_name= _ "female^The moloch"
		description= _ "This unit’s attacks gain 1 additional strike, but require 30% more experience than usual to advance"
        help_text= _ "<italic>text='The Moloch'</italic> is the ancestral spirit of raw aggression and unthinking fury. While fearsome in battle, its descendants struggle with learning and patience."
        [effect]
            apply_to=attack
            range=ranged
            increase_attacks=1
        [/effect]
        [effect]
            apply_to=attack
            range=melee
            increase_attacks=1
        [/effect]
        [effect]
            apply_to=max_experience
            increase=30%
        [/effect]
    [/trait]
#enddef

#define TRAIT_LUNA
    [trait]
        id=luna_trait
        male_name= _ "the tortoise"
        female_name= _ "female^the tortoise"
		description= _ "Fights normally during unfavorable times of day/night, gains 3 HP, and 1 HP per level."
        help_text= _ "<italic>text='The Tortoise'</italic> symbolizes stability and calm. It is said to guide Saurians through the darkness, offering protection and steadfastness."
        [effect]
            apply_to="fearless"
        [/effect]
        [effect]
            apply_to=hitpoints
            increase_total=3
        [/effect]
        [effect]
            apply_to=hitpoints
            times=per level
            increase_total=1
        [/effect]
    [/trait]
#enddef

#define TRAIT_TERRANUS
    [trait]
        id=terranus_trait
        male_name= _ "the salamander"
        female_name= _ "female^the salamander"
		description= _ "This units physical resistances are increased about 10%, gains 4 HP, and 2 HP per level, but looses 1 movement point."
        help_text= _ "<italic>text='The Salamander'</italic>, born from the depths of the earth, is the unyielding guardian of the Saurians."
        [effect]
            apply_to=resistance
			replace=no
            [resistance]
				blade=-10
				pierce=-10
				impact=-10
			[/resistance]
        [/effect]
		[effect]
            apply_to=hitpoints
            increase_total=4
        [/effect]
        [effect]
            apply_to=hitpoints
            times=per level
            increase_total=2
        [/effect]
        [effect]
            apply_to=movement
            increase=-1
        [/effect]
    [/trait]
#enddef

#define TRAIT_CROCODILUS
    # Units with trait Resilient get 4 more HP plus 1 per level.
    [trait]
        id=crocodilus_trait
        male_name= _ "the crocodile"
        female_name= _ "female^the crocodile"
		description= _ "Units do 1 more damage for every successful strike in melee combat, gains 4 HP, and 1 HP per level."
        help_text= _ "<italic>text='The Crocodile'</italic> represents strength and survival in water and marshes. Revered as a merciless hunter, it grants its descendants endurance and raw power."
        [effect]
            apply_to=hitpoints
            increase_total=4
        [/effect]
        [effect]
            apply_to=hitpoints
            times=per level
            increase_total=1
        [/effect]
        [effect]
            apply_to=attack
            range=melee
            increase_damage=1
        [/effect]
    [/trait]
#enddef