#textdomain wesnoth-The_Deep
[unit_type]
    id=Atlantean Bowman
    name= _ "Atlantean Bowman"
    race=Deep
    image="bowman/deep-bowman2.png"
    image_icon="bowman/deep-bowman2.png~CROP(0,8,72,72)"
    profile="bowman/deep-bowman2.png"
    hitpoints=33
    movement_type=Deep_foot
    movement=5
    experience=38
    gender=female,male
    level=1
    alignment=neutral
    advances_to=Atlantean Fire Ranger, Atlantean Fire Dancer
    cost=16
    usage=archer

    description= _ "Deep can already cause harm with their sharp talons. However, those tasked to fight the colony's foes often reinforce their claws with small blades. Their light gambeson allows them to resist hits slightly better while retaining their kind's mobility. "

    [defense]
        deep_water=50
        shallow_water=40
        swamp=60
    [/defense]
    die_sound={SOUND_LIST:HUMAN_FEMALE_DIE}

    [attack]
        name=Torch
        description=_"Torch"
        type=fire
        range=melee
        damage=4
        number=3
        icon=attacks/torch.png
    [/attack]

    [attack]
        name=Short Bow
        description=_"Short Bow"
        type=pierce
        range=ranged
        damage=4
        number=4
        [specials]
            {WEAPON_SPECIAL_ARCANE}
        [/specials]
        icon=attacks/bow.png
    [/attack]
[/unit_type]
