#textdomain wesnoth-The_Deep
[unit_type]
    id=Atlantean Wave Rider
    name= _ "Atlantean Wave Rider"
    race=deep
    image="wave_rider/wave_rider.png"
    image_icon="wave_rider/wave_rider.png"
    profile="wave_rider/wave_rider.png"
    hitpoints=35
    movement_type=Deep_foot
    movement=5
    experience=35
    gender=female,male
    level=1
    alignment=neutral
    advances_to=Atlantean Tide Knight
    cost=14
    usage=fighter

    description= _ "Deep can already cause harm with their sharp talons. However, those tasked to fight the colony's foes often reinforce their claws with small blades. Their light gambeson allows them to resist hits slightly better while retaining their kind's mobility. "

    [resistance]
        blade=110
    [/resistance]
    die_sound={SOUND_LIST:HUMAN_FEMALE_DIE}
    [death]
        start_time=0
        [frame]
            image="wave_rider/wave_rider.png"
        [/frame]
    [/death]

    [standing_anim]
        start_time=0
        [frame]
            image="wave_rider/wave_rider.png"
        [/frame]
    [/standing_anim]
    [movement_anim]
        start_time=0
        [frame]
            image="wave_rider/wave_rider.png"
        [/frame]
    [/movement_anim]
    [idle_anim]
        {STANDARD_IDLE_FILTER}
        start_time=0
        [frame]
            image="wave_rider/wave_rider.png"
        [/frame]
    [/idle_anim]

    [attack]
        name=spear
        description=_"spear"
        type=pierce
        range=melee
        damage=10
        number=2
        icon=attacks/spear.png
    [/attack]
    [attack_anim]
        [filter_attack]
            name=spear
        [/filter_attack]
        offset=0.0~0.2,0.2~0.7,0.7~0.2,0.2~0.0
        start_time=-160
        [frame]
            image="wave_rider/wave_rider.png"
        [/frame]
        {SOUND:HIT_AND_MISS {SOUND_LIST:SWORD_SWISH} {SOUND_LIST:MISS} -25}
    [/attack_anim]

    [attack]
        name=spear blast
        description=_"spear blast"
        type=arcane
        range=ranged
        damage=5
        number=2
        icon=attacks/fire-blast.png
    [/attack]
    [attack_anim]
        [filter_attack]
            name=spear blast
        [/filter_attack]
        offset=0.0~0.2,0.2~0.7,0.7~0.2,0.2~0.0
        start_time=-160
        [frame]
            image="wave_rider/wave_rider.png"
        [/frame]
        {SOUND:HIT_AND_MISS {SOUND_LIST:SWORD_SWISH} {SOUND_LIST:MISS} -25}
    [/attack_anim]

[/unit_type]

