#textdomain wesnoth-The_Deep
[unit_type]
    id=Atlantean Tidal Knight
    name= _ "Atlantean Tidal Knight"
    race=deep
    image="wave_rider/tidal_knight.png"
    image_icon="wave_rider/tidal_knight.png"
    profile="wave_rider/tidal_knight.png"
    hitpoints=34
    movement_type=Deep_foot #deep knight, or deep swim?
    movement=10
    experience=80
    gender=female,male
    level=2
    alignment=neutral
    advances_to=Sea Dragoon
    cost=33
    usage=fighter

    description= _ "Deep can already cause harm with their sharp talons. However, those tasked to fight the colony's foes often reinforce their claws with small blades. Their light gambeson allows them to resist hits slightly better while retaining their kind's mobility. "

    [resistance]
        impact=120
        pierce=110
    [/resistance]
    [defense]
        deep_water=20
        swamp=20
        snow=30
        forest=30
    [/defense]
    die_sound={SOUND_LIST:HUMAN_FEMALE_DIE}
    [death]
        start_time=0
        [frame]
            image="wave_rider/tidal_knight.png"
        [/frame]
    [/death]
    {DEFENSE_ANIM "wave_rider/tidal_knight.png" "wave_rider/tidal_knight.png" {SOUND_LIST:HUMAN_FEMALE_HIT} }

    [standing_anim]
        start_time=0
        [frame]
            image="wave_rider/tidal_knight.png"
        [/frame]
    [/standing_anim]
    [movement_anim]
        start_time=0
        [frame]
            image="wave_rider/tidal_knight.png"
        [/frame]
    [/movement_anim]
    [idle_anim]
        {STANDARD_IDLE_FILTER}
        start_time=0
        [frame]
            image="wave_rider/tidal_knight.png"
        [/frame]
    [/idle_anim]

    [attack]
        name=lance
        description=_"lance"
        type=pierce
        range=melee
        damage=12
        number=2
        [specials]
            {WEAPON_SPECIAL_CHARGE}
        [/specials]
        icon=attacks/lance.png
    [/attack]

    [attack_anim]
        [filter_attack]
            name=claws
        [/filter_attack]
        offset=0.0~0.2,0.2~0.7,0.7~0.2,0.2~0.0
        start_time=-160
        [frame]
            image="wave_rider/tidal_knight.png"
        [/frame]
        {SOUND:HIT_AND_MISS {SOUND_LIST:SWORD_SWISH} {SOUND_LIST:MISS} -25}
    [/attack_anim]
[/unit_type]
