#textdomain wesnoth-The_Deep
[unit_type]
    id=Atlantean Fire Dancer
    name= _ "Atlantean Fire Dancer"
    race=Deep
    image="bowman/deep-dancer2.png"
    image_icon="bowman/deep-dancer2.png~CROP(0,8,72,72)"
    profile="bowman/deep-dancer2.png"
    hitpoints=45
    movement_type=Deep_foot
    movement=5
    experience=90
    gender=female,male
    level=2
    alignment=neutral
    advances_to=Atlantean Deepfire Guardian
    cost=29
    usage=archer

    description= _ "Deep can already cause harm with their sharp talons. However, those tasked to fight the colony's foes often reinforce their claws with small blades. Their light gambeson allows them to resist hits slightly better while retaining their kind's mobility. "

    [defense]
        deep_water=50
        shallow_water=40
        swamp=60
    [/defense]
    die_sound={SOUND_LIST:HUMAN_DIE}

    [attack]
        name=Torch
        description=_"Torch"
        type=fire
        range=melee
        damage=7
        number=4
        icon=attacks/torch.png
    [/attack]

    [attack]
        name=fire breath
        description=_"fire breath"
        type=fire
        range=ranged
        damage=15
        number=1
        icon=attacks/fire-blast.png
    [/attack]
[/unit_type]
