#textdomain wesnoth-The_Deep
[unit_type]
    id=Crab Giant
    name= _ "Crab Giant"
    race=deep
    image="parader/deep-parader.png"
    profile="parader/deep-parader.png"
    hitpoints=40
    movement_type=Deep_foot
    movement=6
    experience=88
    gender=female,male
    level=2
    alignment=neutral
    advances_to=King Crab, Queen Crab
    cost=22
    usage=fighter

    description= _ "As they better their magical craft, some minstrels take delight in catching other's eyes. Switching focus from songs to dance, their plumage changes to reflect their spell-weaving. Paraders, on the opposite of captivators, mean to be noticed, and distract their foes to give their allies more opportunities. "

    [defense]
        forest=50
        flat=60
        sand=50
        hills=50
        frozen=60
        shallow_water=40
        deep_water=30
    [/defense]
    [resistance]
        impact=70
    [/resistance]

    die_sound={SOUND_LIST:HUMAN_FEMALE_DIE}
    [death]
        start_time=0
        [frame]
            image="parader/deep-parader-death[1~7].png:100,50*6,parader/deep-parader-death8.png:200"
        [/frame]
    [/death]
    [movement_anim]
        start_time=0
        [frame]
            image="parader/deep-parader-fly[1~6].png:100"
        [/frame]
    [/movement_anim]

    [attack]
        name=claws
        description=_"Claws"
        type=blade
        range=melee
        damage=13
        number=2
        icon=attacks/claws-animal.png
    [/attack]
    [attack]
        name=Water Blast
        description=_"Water Blast"
        type=impact
        range=ranged
        damage=10
        number=1
        icon=attacks/waterspray.png
    [/attack]

    [attack_anim]
        [filter_attack]
            name=Claws
        [/filter_attack]
        direction=s
        offset=0.0:350,0.0~0.7:200,0.7:250,0.7~0.0:200,0.0:75
        directional_x=0:350,0~-20:200,-20:250,-20~0:200,0:75
        start_time=-500
        [frame]
            image="parader/deep-parader-dagger[1~12].png:[100*2,150,100,50*2,100*2,50,100*2,75]"
        [/frame]
        {SOUND:HIT_AND_MISS dagger-swish.wav {SOUND_LIST:MISS} -50}
    [/attack_anim]

    [attack_anim]
        [filter_attack]
            name=Water Blast
        [/filter_attack]
        missile_start_time=-100
        [missile_frame]
            offset=1.0
            duration=350
            image=halo/elven/shaman-heal-halo-[1~7].png:50~BLEND(0,76,0,100%)
            auto_vflip=no
        [/missile_frame]
        start_time=-800
        [frame]
            image="parader/deep-parader-ensnare[1~18].png:[75*3,50*2,75*10,50,75*2]"
        [/frame]
        {SOUND:HIT_AND_MISS magic-faeriefire.ogg magic-faeriefire-miss.ogg -75}
        halo_start_time=-400
        [frame]
            image="parader/deep-parader.png:1"
        [/frame]
    [/attack_anim]
[/unit_type]
