#textdomain wesnoth-The_Deep
[unit_type]
    id=Atlantean Luminary
    name= _ "Atlantean Luminary"
    race=Deep
    image="healer/healer3_64.png"
    profile="healer/healer3.png"
    small_profile="healer/healer3_64.png"
    halo=halo/elven/shyde-stationary-halo[1~6].png:150~BLEND(0,0,76,100%)
    hitpoints=50
    movement_type=Deep_foot
    movement=5
    experience=240
    gender=female,male
    level=3
    alignment=lawful
    advances_to=null
    cost=70
    usage=healer

    description= _ ""
    [abilities]
        {ABILITY_CRYSTAL_BEACON} #Crystal Beacon
        {ABILITY_CURES}
    [/abilities]

    [defense]
        cave=40
        shallow_water=40
        fungus=60
    [/defense]
    [movement_costs]
        cave=1
        fungus=2
    [/movement_costs]
    [resistance]
        impact=80
        arcane=100
    [/resistance]

    die_sound={SOUND_LIST:HUMAN_FEMALE_DIE}

    [attack]
        name=Ocean Wave
        description=_"Ocean Wave"
        icon=attacks/faerie-fire.png    # Needs Icon
        type=impact
        range=ranged
        damage=16
        number=2
    [/attack]
    [attack]
        name=Crystal Spark
        description=_"Crystal Spark"
        icon=attacks/faerie-fire.png
        type=arcane
        range=ranged
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        damage=12
        number=3
    [/attack]

    [attack_anim]
        [filter_attack]
            name=Ocean Wave
        [/filter_attack]
        direction=sw,se
        offset=0.0:160,0.0~0.2:80,0.2~0.7:80,0.7:160,0.7~0.2:80,0.2~0.0:80
        start_time=-320
    [/attack_anim]

    [attack_anim]
        [filter_attack]
            name=Crystal Spark
        [/filter_attack]
        missile_start_time=-100
        [missile_frame]
            offset=1.0
            duration=350
            image=halo/elven/shaman-heal-halo-[1~7].png:50~BLEND(0,0,76,100%)
            #tint the projectile on the enemy pink
            auto_vflip=no
        [/missile_frame]
        start_time=-200
        {SOUND:HIT_AND_MISS magic-holy-miss-2.ogg magic-holy-miss-1.ogg -75}
        halo_start_time=-150
        [halo_frame]
            halo=halo/saurian-magic-halo-[1~7].png:60
            halo_x,halo_y=0,-12
            auto_vflip=no
        [/halo_frame]
    [/attack_anim]

[/unit_type]
