#textdomain wesnoth-The_Deep
[unit_type]
    id=Crab Triton
    name= _ "Crab Triton"
    race=Crab
    image="fighter/deep-fighter2.png"
    image_icon="fighter/deep-fighter2.png~CROP(0,8,72,72)"
    profile="fighter/deep-fighter2.png"
    hitpoints=101
    movement_type=Deep_foot
    movement=5
    experience=200
    gender=male
    level=4
    alignment=neutral
    advances_to=null
    cost=90
    usage=fighter

    description= _ ""

    [abiities]
        {ABILITY_LEADERSHIP_CRAB}
        {ABILITY_FEEDING}
    [/abilities]
    [defense]
        forest=50
        flat=60
        sand=50
        hills=50
        frozen=60
        shallow_water=40
        deep_water=30
    [/defense]
    [resistance]
        impact=70
        cold=80
    [/resistance]

    die_sound={SOUND_LIST:HUMAN_FEMALE_DIE}
    [death]
        start_time=0
        [frame]
            image="fighter/deep-fighter-death[1~6].png:100,50*5,fighter/deep-fighter-death7.png:200"
        [/frame]
    [/death]
    {DEFENSE_ANIM "fighter/deep-fighter-hit[1~3].png:75" "fighter/deep-fighter2.png" {SOUND_LIST:HUMAN_FEMALE_HIT} }

    [attack]
        name=Claws
        description=_"Claws"
        type=impact
        range=melee
        damage=16
        number=2
        icon=attacks/claws-animal.png
    [/attack]

    [attack]
        name=Water Blast
        description=_"Water Blast"
        type=impact
        range=ranged
        damage=12
        number=1
        icon=attacks/claws-animal.png
        # Weapon speials: Knockback?
    [/attack]

    [attack_anim]
        [filter_attack]
            name=Claws
        [/filter_attack]
        offset=0.0~0.2,0.2~0.7,0.7~0.2,0.2~0.0
        start_time=-160
        [frame]
            image="fighter/deep-fighter-talons[1~4].png:100"
        [/frame]
        {SOUND:HIT_AND_MISS {SOUND_LIST:SWORD_SWISH} {SOUND_LIST:MISS} -25}
    [/attack_anim]
[/unit_type]
