[textdomain]
    name="wesnoth-Deep"
    path="data/add-ons/The_Deep/translations"
[/textdomain]

#textdomain wesnoth-The_Deep

#ifdef MULTIPLAYER

{~add-ons/The_Deep/load_Deep.cfg}
{~add-ons/The_Deep/eras.cfg}

#endif
