#textdomain wesnoth-The_Deep


#define ABILITIES_EVENTS
	[event]	# Inspired by a similar special on the forums
		name=attacker hits
		first_time_only=no
		[filter_attack]
			special_id=dazzle
		[/filter_attack]
		[set_precision_intensity]
			id=$second_unit.id
			sub=3
		[/set_precision_intensity]
	[/event]
	[event]
		name=defender hits
		first_time_only=no
		[filter_second_attack]
			special_id=dazzle
		[/filter_second_attack]
		[set_precision_intensity]
			id=$unit.id
			sub=3
		[/set_precision_intensity]
	[/event]
#enddef

[resource]
    id=deep_ability_events
    {EVENT_RECRUIT_DEEP}
[/resource]