[textdomain]
    name="wesnoth-The_Deep"
    path="data/add-ons/Underlanders/factions/The_Deep/translations"
[/textdomain]

#textdomain wesnoth-The_Deep

[binary_path]
    path=data/add-ons/Underlanders/factions/The_Deep
[/binary_path]

{~add-ons/Underlanders/factions/The_Deep/utils.cfg}
{~add-ons/Underlanders/factions/The_Deep/amlas.cfg}
{~add-ons/Underlanders/factions/The_Deep/recruit_lists.cfg}

[+units]
    {~add-ons/Underlanders/factions/The_Deep/units}
    {~add-ons/Underlanders/factions/The_Deep/units.cfg}
[/units]
