#these macros are used in the faction files, and also in ForestDragon's Campaign Deepifier modification:

#define DEEP_ERA_RECRUIT_LIST
Water Strider, Atlantean Crystal Crab, Atlantean Healer, Atlantean Wave Rider, Atlantean Fighter, Deep Scorpion, Manta Scout, Atlantean Luminary#enddef

#define DEEP_ERA_AOH_RECRUIT_LIST
Anuvian Charioteer, Anuvian Pitati, Ekosian Bast, Atlantean Tide Knight, Atlantean Healer, Ekosian Sobek, Ekosian Spearman, Ibian Skirmisher, Light Acolyte, Crab Giant, Shadow Acolyte, Atlantean Spearguard#enddef

#define DEEP_ERA_AOL_RECRUIT_LIST
Anuvian Chariot Master, Bast Nightprowler, King Crab, Queen Crab, Atlantean Champion, Atlantean Sea Dragoon, Ekosian Nightbringer, Ekosian Rivergaurd, Ekosian Sun Seer, Ibian Great Chief, Atlantean Luminary, Shearin Marauder, Ta-Seti Champion#enddef
