#textdomain wesnoth-The_Deep
# Traits for the [modifications] clause of SingleWML descriptions

#    #define TIDE_SHORTCUT TRAIT
#        [unit]
#            side=$side_number
#            type=$TIDE_unit_stored[0].type
#            x,y=$x1,$y1
#            upkeep=full
#            attacks_left=0
#            moves=0
#            random_traits=no
#            [modifications]
#                {TRAIT}
#            [/modifications]
#        [/unit]
#    #enddef

#lowtide: +5% land defense, -5% sea defense
#floodtide: +1 damage, -10% HP
#hightide: +5% sea defense, -5% land defense
#ebbtide: -1 damage, +10% HP

#define TIDE_HIGH
    [trait]
        id=tide_high
        male_name= _ "High Tide"
        female_name= _ "female^High Tide"
        description= _ "This unit has 5% increased defense in water and 5% decreased defense on land."
        help_text= _ "<italic>text='High Tide'</italic> Born during a high tide, this unit is better adapted to deep waters than others of its kin."
        [effect] #dodge +10%, but not more than 60%
            apply_to=defense
            replace=no
            [defense]
                deep_water=-5
                shallow_water=-5
                swamp=-5
            [/defense]
        [/effect]
    [/trait]
#enddef

#define TIDE_EBB
    [trait]
        id=draco_trait
        male_name= _ "the dragon"
        female_name= _ "female^the dragon"
        description= _ "This unit’s resistances to fire and cold is increased by 20%, arcane is decreased by 20% and always rest heals."
        help_text= _ "<italic>text='The Dragon'</italic> is the protector of the Saurians, representing strength and inner fire. It shields them from elemental forces and inspires resilience."
        [effect]
            apply_to=resistance
            replace=no
            [resistance]
                fire=-20
                cold=-20
                arcane=+20
            [/resistance]
        [/effect]
        [effect]
            apply_to="healthy"
        [/effect]
        [effect]
            apply_to=hitpoints
            times=per level
            increase_total=1
        [/effect]
    [/trait]
#enddef

#define TIDE_LOW
    [trait]
        id=serpens_trait
        male_name= _ "the snake"
        female_name= _ "female^the snake"
        description= _ "Immune to poison and poison enemies on enemy melee hits, but 5% less hitpoints than usual."
        help_text= _ "<italic>text='The Snake'</italic> symbolizes survival and cunning but is also seen as a harbinger of misfortune. The venomous skin prevents the Snake-born from bonding with others, leading to isolation."
        [effect]
            apply_to=status
            add=unpoisonable
        [/effect]
        [effect] ### poison skin
            apply_to=new_ability
            [abilities]
                {TRAIT_SPECIAL_POISONSKIN}
            [/abilities]
        [/effect]
        [effect]
            apply_to=hitpoints
            increase_total=-5%
        [/effect]
    [/trait]
#enddef

#define TIDE_FLOOD
    [trait]
        id=wyvern_trait
        male_name= _ "the wyvern"
        female_name= _ "female^the wyvern"
        description= _ "Units do 1 more damage for every successful strike in range combat and have 1 extra movement point."
        help_text= _ "<italic>text='The Wyvern'</italic> is a majestic and fierce aerial hunter, revered as a symbol of grace and precision. It is believed to bestow its descendants with the ability to dominate from afar."
        [effect]
            apply_to=attack
            range=ranged
            increase_damage=1
        [/effect]
        [effect]
            apply_to=movement
            increase=1
        [/effect]
    [/trait]
#enddef
