#textdomain wesnoth-Deep

 # it may be that there an only be one utils.cfg per add on, so this will need to be copied to the underlanders folder

#define ABILITY_ROYAL_CRAB
    # Leadership for only crabs.
    [leadership]  
        id=royal_crab
        name=_ "Royal Crab"
        description=_ "The presence of a royal crab inspires all nearby crabs  to fight harder."
        affect_self=no
        value="(20 * (level - other.level + 1))"
        cumulative=no
        [filter_student]
            race=crab
            [filter]
                formula="level < other.level"
            [/filter]
        [/filter_student]
        [affect_adjacent]
        [/affect_adjacent]
    [/leadership]
#enddef

#define ABILITY_CRYSTAL_BEACON
    [damage]
        id=crystal_beacon
        name= _ "crystal beacon"
        description= _ "This unit's crystal beacon eminates powerful magical energy, amplifying all arcane attacks around it."
        multiply=1.2
        affect_self=no
        [filter_student]
            [filter_weapon]
                type=arcane
            [/filter_weapon]
        [/filter_student]
        [affect_adjacent]
        [/affect_adjacent]
    [/damage]
#enddef

#define ABILITY_EGG_PLAUGE
#enddef

#define EVENT_SEAHORSE_KNIGHT
    
#enddef

#define EVENT_START_MAP_WITH_DEEP
    [event] # This event adds the tide traits to a unit of the Deep faction when it is recruited.
        name=start
        first_time_only=yes
        [filter_second]
            race=deep
        [/filter_second]
        [filter]
            time_of_day=first_watch,second_watch
            [effect]
                [modifications]
                    {TIDE_HIGH}
                [/modifications]
            [/effect]
        [/filter]
        [filter]
            time_of_day=dawn
            [effect]
                {TIDE_EBB}
            [/effect]
        [/filter]
        [filter]
            time_of_day=morning,afternoon
            [effect]
                apply_to="neap tide"
            [/effect]
        [/filter]
        [filter]
            time_of_day=dusk
            [effect]
                apply_to="flood tide"
            [/effect]
        [/filter]
    [/event]
#enddef

#define EVENT_RECRUIT_DEEP
    [event] # This event adds the tide traits to a unit of the Deep faction when it is recruited.
        name=recruit
        first_time_only=no
        [filter_second]
            race=deep
        [/filter_second]
        [filter]
            time_of_day=first_watch,second_watch
            [effect]
                [modifications]
                    {TIDE_HIGH}
                [/modifications]
            [/effect]
        [/filter]
        [filter]
            time_of_day=dawn
            [effect]
                {TIDE_EBB}
            [/effect]
        [/filter]
        [filter]
            time_of_day=morning,afternoon
            [effect]
                apply_to="neap tide"
            [/effect]
        [/filter]
        [filter]
            time_of_day=dusk
            [effect]
                apply_to="flood tide"
            [/effect]
        [/filter]
    [/event]
#enddef

#define ABILITY_STORM_SURGE
    [dummy]
        id=storm_surge
        name=_ Storm Surge
        description=_ "This unit carries a storm with it wherever it goes, changing the landscape around it."
    [/dummy]
#enddef


#define ABILITY_HEAL_12
    [heals]
        value=12
        id=healing
        affect_allies=yes
        name= _ "heals +12"
        female_name= _ "female^heals +12"
        description= _ "This unit uses ancient magic to heal units more quickly than is normally possible on the battlefield.

A unit cared for by this healer may heal up to 12 HP per turn, or be cured of poison."
        affect_self=no
        poison=slowed
        [affect_adjacent]
        [/affect_adjacent]
    [/heals]
#enddef

[resource]
    id=deep_ability_events
    {EVENT_RECRUIT_DEEP}
[/resource]