#textdomain wesnoth-Deep

 # it may be that there an only be one utils.cfg per add on, so this will need to be copied to the underlanders folder

#define ABILITY_ROYAL_CRAB
    # Leadership for only crabs. 30%
    [leadership]
    [/leadership]
#enddef

#define ABILITY_CRYSTAL_BEACON
    # [dummy]
    #     id=crystal_beacon
    #     name=_ "Crystal Beacon"
    #     description=_"This unit's crystal beacon eminates powerful magical energy, amplifying all arcane attacks around it."
    # [/dummy]
    [damage]
        id=crystal_beacon
        name= _ "crystal beacon"
        description= _ "This unit's crystal beacon eminates powerful magical energy, amplifying all arcane attacks around it."
        multiply=1.2
        affect_self=no
        [filter_student]
            [filter_weapon]
                type=arcane
            [/filter_weapon]
        [/filter_student]
        [affect_adjacent]
        [/affect_adjacent]
    [/damage]
#enddef
#       2nd try
#        [affect_adjacent]
#            [effect]
#                apply_to=attack
#                [filter_attack]
#                    type=arcane
#                [/filter_attack]
#                increase_damage=20%
#            [/effect]
#        [/affect_adjacent]

#define ABILITY_CRYSTAL_BEACON_EVENT
    [event]
        name=attack
        first_time_only=no
        [filter_attack]
            type=arcane
        [/filter_attack]
        [filter_adjacent]
            # is_enemy=no
            has_ability=crystal_beacon
        [/filter_adjacent]
        [message]
            message=_ "The crystal beacon amplifies the arcane damage!"
        [/message]
        [effect]
            apply_to=attack
            [filter_attack]
                type=arcane
            [/filter_attack]
            increase_damage=30%
        [/effect]
    [/event]
#enddef

#define ABILITY_EGG_PLAUGE
#enddef

#define ABILITY_STORM_SURGE
#enddef


#define ABILITY_HEAL_12
    [heals]
        value=12
        id=healing
        affect_allies=yes
        name= _ "heals +12"
        female_name= _ "female^heals +12"
        description= _ "This unit uses ancient magic to heal units more quickly than is normally possible on the battlefield.

A unit cared for by this healer may heal up to 12 HP per turn, or be cured of poison."
        affect_self=no
        poison=slowed
        [affect_adjacent]
        [/affect_adjacent]
    [/heals]
#enddef

