#textdomain wesnoth-The_High_Kingdom
[multiplayer_side]
    id=The_High_Kingdom
    name= _"The High Kingdom"
    image="unit_assests/soldier/E_soldier64.png"

    type=Ekosian Warrior
    leader=Anuvian Chariot Master, Avatar of Nepthys, Avatar of Rah, Bast Nightprowler, Ekosian Braveheart, Ekosian Chariot Master, Ekosian Sobek, Emissary of Osiris
    recruit={HIGH_KINGDOM_ERA_AOL_RECRUIT_LIST}
    terrain_liked=Dd
    [ai]
        recruitment_pattern=fighter,fighter,archer,mixed fighter,healer
    [/ai]
[/multiplayer_side]
