[textdomain]
    name="wesnoth-Underlanders"
    path="data/add-ons/Underlanders/translations"
[/textdomain]

#textdomain wesnoth-The_High_Kingdom

#ifdef MULTIPLAYER

{~add-ons/Underlanders/factions/The_High_Kingdom/load_high_kingdom.cfg}
{~add-ons/Underlanders/factions/The_Deep/load_deep.cfg}
{~add-ons/Underlanders/factions/The_Hive/load_hive.cfg}
{~add-ons/Underlanders/eras.cfg}
#endif