#textdomain wesnoth-Underlands
[multiplayer_side]
    id=Underlands
    name= _"Underlands"
    image="captivator/harpy-captivator.png"

    type=Harpy Enchantress
    leader=Harpy Captivator, Harpy Parader, Harpy Galesinger, Harpy Stalkerwing, Harpy Pirate, Harpy Flagbearer, Harpy Raptortongue, Harpy Bomber
    recruit={Underlands_ERA_RECRUIT_LIST}
    terrain_liked=Mm
    [ai]
        recruitment_pattern=fighter,fighter,archer,mixed fighter,healer,scout
    [/ai]
[/multiplayer_side]

# Merfolk
# Mermaid Initiate     >> Mermaid Enchantress   >> Siren
#                      >> Mermaid Priestess     >> Diviner
# Merman Hunter        >> Merman Netcaster      >> Entangler
#                      >> Merman Spearman       >> Javalineer
# Fighter              >>                       >> 


# Crab                 >> Giant Crab            >> Crab King         >> Crab Triton
#                      >>                       >> Crab Queen
# Water Strider        >> Water Scorpian        >> Euripts           >> Leviathan
# Shearin Pirate       >> Shearin Buccaneer     >> Shearin Marauder

# Atlanteans
# Ray Rider            >> Surger                >> Storm Bringer     >> Tempest 
#                      >> Harpooner             >> Head Hunter
# Turtle Hermit        >> Turtle Shaman         >> Tortuga?          >> Titaniturtle! (Archelon)
# Mist Sprite          >> Water Shyde           >> Ice Golem
#                      >>                       >> Mud Monster

# Surveryor            >> Spy                   >> Inflitrator
# Wave Rider           >> Tide Kight            >> Sea Dragoon
#                      >>                       >> 
#                      >>                       >> 
# -Kelpie              >>                       >> 


# Wave Rider
    # an Atlantean knight riding a seahorse
# >> Tide Kight
    # an Atlantean knight riding a Dolphin
# >> >> Sea Dragoon
    # an Atlantean knight riding a Sea Serpent

# Mist Sprite
    # Has regenerate when on a water tile
    # Has swarm atack
# >> Water Shade
    # Has regenerate when on a water tile
# >> >> Ice Golem
    # Has regenerate when on a ice tile
    # Has icy wind (slows)
# >> >> Mud Monster
    # Has regenerate when on a swamp tile

# Turtle Hermit
    # A simple healer
    # Turtle Descrution Wave
# >> Turtle Shaman
# >> >> Tortuga?
# >> >> >> Titaniturtle! (Archelon)

# << Crab Egg
    # Level 0, Gains experience for existing
# Giant Crab
    # A tank unit, good in sand, moderate on land
# >> Crab King
    # Gives crab leadership, has feeding
# >> >> Crab Triton
    # Has crab leadership, has feeding
# >> Crab Queen
    # Has crab leadership, has crabbing (plague_crab)

# Ray Rider
    # Flies over land an sea on a magical manta ray
# >> Surger
    # Coats the land around it in flood waters
# >> >> Storm Bringer
    # Brings a storm wherever it flies
# >> >> >> Tempest
    # Brings a hurrican wherever it flies
    # It's tempest winds attack deals extra damage to flying units
# >> Harpooner
    # Gets marksman on harpoon
# >> >> Head Hunter
    # Gets marksman
    # Gets Skirmisher