#textdomain wesnoth-Deep
[multiplayer_side]
    id=Deep
    name= _"Deep"
    image="captivator/deep-captivator.png"

    type=Deep Enchantress
    leader=Deep Captivator, Deep Parader, Deep Galesinger, Deep Stalkerwing, Deep Pirate, Deep Flagbearer, Deep Raptortongue, Deep Bomber
    recruit={DEEP_ERA_RECRUIT_LIST}
    terrain_liked=Wd
    [ai]
        recruitment_pattern=fighter,fighter,archer,mixed fighter,healer,scout
    [/ai]
[/multiplayer_side]

# Merfolk
# Mermaid Initiate     >> Mermaid Enchantress   >> Siren
#                      >> Mermaid Priestess     >> Diviner
# Merman Hunter        >> Merman Netcaster      >> Entangler
#                      >> Merman Spearman       >> Javalineer
# Fighter              >>                       >> 


# Crab                 >> Giant Crab            >> Crab King         >> Crab Triton
#                      >>                       >> Crab Queen
# Water Strider        >> Water Scorpian        >> Euripts           >> Leviathan
# Atlantean Fighter       >> Atlantean Spearguard     >> Shearin Marauder

# Atlanteans
# Ray Rider            >> Surger                >> Storm Bringer     >> Tempest 
#                      >> Harpooner             >> Head Hunter
# Turtle Hermit        >> Turtle Shaman         >> Tortuga?          >> Titaniturtle! (Archelon)
# Mist Sprite          >> Water Shyde           >> Ice Golem
#                      >>                       >> Mud Monster

# Surveryor            >> Spy                   >> Inflitrator
# Wave Rider           >> Tide Kight            >> Sea Dragoon
#                      >>                       >> 
#                      >>                       >> 
# -Kelpie              >>                       >> 


# Wave Rider
    # an Atlantean knight riding a seahorse
# >> Tide Kight
    # an Atlantean knight riding a Dolphin
# >> >> Sea Dragoon
    # an Atlantean knight riding a Sea Serpent

# Mist Sprite
    # Has regenerate when on a water tile
    # Has swarm atack
# >> Water Shade
    # Has regenerate when on a water tile
# >> >> Ice Golem
    # Has regenerate when on a ice tile
    # Has icy wind (slows)
# >> >> Mud Monster
    # Has regenerate when on a swamp tile

# Turtle Hermit
    # A simple healer
    # Turtle Descrution Wave
# >> Turtle Shaman
# >> >> Tortuga?
# >> >> >> Titaniturtle! (Archelon)

# << Crab Egg
    # Level 0, Gains experience for existing
# Giant Crab
    # A tank unit, good in sand, moderate on land
# >> Crab King
    # Gives crab leadership, has feeding
# >> >> Crab Triton
    # Has crab leadership, has feeding
# >> Crab Queen
    # Has crab leadership, has crabbing (plague_crab)

# Ray Rider
    # Flies over land an sea on a magical manta ray
# >> Surger
    # Coats the land around it in flood waters
# >> >> Storm Bringer
    # Brings a storm wherever it flies
# >> >> >> Tempest
    # Brings a hurrican wherever it flies
    # It's tempest winds attack deals extra damage to flying units
# >> Harpooner
    # Gets marksman on harpoon
# >> >> Head Hunter
    # Gets marksman
    # Gets Skirmisher

#maybe an archer fish unit?

# What is Chava's play style?
# low risk: good general defenses, low damage, many hits
# honoring past units: Support troll, orchish crossbowmen, lunatic knight, danger butterfly
# emphasis on ranged
# tides: based on the time of day the unit is recruited: flood, high, ebb, and low tide
#lowtide: +5% land defense, -5% sea defense
#floodtide: +1 moves, +5% experience
#hightide: +5% sea defense, -5% land defense
#ebbtide: -1 moves, -5% experience

#Chava is going to have expensive units, they will be good units that last, but she will have to pay extra for them.

#diplomat > Ambassador > senator
#healer > channeler > luminary (with ability crystal beacon to power up arcane attacks)

#Flare > Pyromancer > Inferno
#Ranger > Marine > Barracuda
#       > Flameheart, torcher, deepfire (like greek fire)
#   confirmed flare is a branch off of ranger

#Achelies heel story could give us background for a dedicated archer class

#Bowman  >> Ranger      >> Hero
#        >> Fire Dancer >> Deepfire Guardian
# Fire Fighter:
#     melee: Torch        4x3
#     ranged: Shortbow    5x4
# 
# Fire Ranger:
#     melee: Torch        6x3
#     ranged: Longbow     8x4
# 
# Fire Hero:
#     melee: Torchbow       6x4
#     ranged: Firebow       9x5
#     ranged: Poison Arrow  18x2    [Marksman] [Poison]
#
# HailFire:
#     melee: Torchbow       8x4
#     ranged: Firebow       9x6
#     ranged: Poison Arrow  24x2    [Marksman] [Poison]
# bow has fire at the tips, 2 arrows knocked at once, 

# Fire Dancer:
#     melee: Spinning Torch 7x4
#     ranged: Fire Sling    7x2
# 
# Deepfire Guardian:     [Flaming Radiance]
#     melee: Spinning Torch 6x6
#     melee: Fire Breath    12x2    [Incinerate]
#     ranged: Fire Sling    8x2


#World Conquest
    # The Ocean Depths
    # water strider
    # deep scorpion <> wave rider
    # Crab <> fighter
    # Mist sprite <>ray rider
    # Turtle hermit <> healer
    # Surveyor <> ranger
    # Merman hunter <> Mermaid initiate
    
    # Healer
    # Fighter
    # Wave Rider
    # Ray Rider
    # Ranger
