#textdomain wesnoth-Deep
[multiplayer_side]
    id=Deep
    name= _"Deep"
    image="siren/deep-siren.png"

    type=Deep Siren
    leader=Endsinger Deep, Deep Siren, Deep Duke of the Night, Resplendent Deep, Deep Songstress of Storms, Deep Nightgaunt, Deep Raider, Deep Shrieker, Deep Featherlord, Deep Flockmaster, Deep Ashtail, Deep Emissary
    recruit={Deep_ERA_AOH_RECRUIT_LIST}
    terrain_liked=Mm
    [ai]
        recruitment_pattern=fighter,fighter,archer,mixed fighter,healer,scout
    [/ai]
[/multiplayer_side]
