#textdomain wesnoth-Underlands
[multiplayer_side]
    id=Underlands
    name= _"Underlands"
    image="captivator/harpy-captivator.png"

    type=Harpy Enchantress
    leader=Harpy Captivator, Harpy Parader, Harpy Galesinger, Harpy Stalkerwing, Harpy Pirate, Harpy Flagbearer, Harpy Raptortongue, Harpy Bomber
    recruit={Underlands_ERA_RECRUIT_LIST}
    terrain_liked=Mm
    [ai]
        recruitment_pattern=fighter,fighter,archer,mixed fighter,healer,scout
    [/ai]
[/multiplayer_side]

#Arachnid
    #arachnid

    #jumper
    #wolf's bane

    #trapper
    #Fate Weaver

#Catapiler
    #a heeler without cure?

    #pupa
    #Lepodoptrine(day)
    #Lepodoptrine(night)

#Big beetle
    #stag rider
    #crawling fortress

#Hornet
    #yellow jacket
    #vespan fatebringer

#Lantern
    #scorcher
    #firestorm

    #bolt flinger
    #thunderhead

#Mantoid
    #assassin
    #orchid reaper

#World Conquest
    #buggy orcs
    #Hornet <> orchish assassin
    #Srider <> goblin
    #fighter <> grunt
    #bearer <> archer
    #beetle <> ogre
    #catapiler <> walking corpse
    #Arachnid <> naga fighter

    #Underlands
    #hive beetle <> scarab beetle
    #strider <> crab
    #hornet <> nubian hunter
    #bearer <> apotheccary
    #at fighter <> pirate
    #catapiler <> healer
    #cultist <> diplomat

