#textdomain wesnoth-Harpies
#based off of rough rinos, 3rd ranged is the walking foretress with a catapult, melee gets polearm stuff

[unit_type]
    id=Strider
    name= _ "Strider"
    race=hive
    image="falconeer/harpy-falconeer.png"
    image_icon="falconeer/harpy-falconeer.png"
    profile="falconeer/harpy-falconeer-portrait-female.webp"
    small_profile="falconeer/harpy-falconeer-portrait-female.webp~CROP(0,0,562,703)"
    hitpoints=20
    movement_type=hivedeep
    movement=8
    experience=28
    gender=female,male
    level=0
    alignment=chaotic
    advances_to=Deep Scorpion
    cost=7
    usage=fighter

    description= _ "Fast, hard to hit, deadly. When you do hit them though, they crumble like paper."
	
	[movement_costs]
        deep_water=2
    [/movement_costs]
	[defense]
		deep_water=50
        cave=40
		sand=30
	[/defense]
    [resistance]
        blade=90
        pierce=140
        impact=110
        fire=70
        cold=90
        arcane=120
    [/resistance]
    
    die_sound={SOUND_LIST:HUMAN_FEMALE_DIE}
    [death]
        start_time=0
        [frame]
            image="falconeer/harpy-falconeer-death[1~9].png:[100,50*8]"
        [/frame]
    [/death]

    {DEFENSE_ANIM "falconeer/harpy-falconeer-hit[1~3,1].png:[75*3,1]" "falconeer/harpy-falconeer.png" {SOUND_LIST:HUMAN_FEMALE_HIT} }

    [standing_anim]
        [frame]
            image="falconeer/harpy-falconeer.png"
        [/frame]
    [/standing_anim]
    [standing_anim]
        start_time=0
        terrain_type={HARPY_UNWALKABLE_TERRAINS}
        submerge=0
        [frame]
            image="falconeer/harpy-falconeer-flyb[1~4].png:150"
        [/frame]
    [/standing_anim]
    [movement_anim]
        start_time=0
        [frame]
            image="falconeer/harpy-falconeer-flyb[1~4].png:150"
        [/frame]
    [/movement_anim]
    [pre_movement_anim]
        start_time=0
        terrain_type=!,{HARPY_UNWALKABLE_TERRAINS}
        [frame]
            image="falconeer/harpy-falconeer-takeoff[1~4].png:50"
        [/frame]
    [/pre_movement_anim]
    [post_movement_anim]
        start_time=0
        terrain_type=!,{HARPY_UNWALKABLE_TERRAINS}
        [frame]
            image="falconeer/harpy-falconeer-land[1~2].png:50"
        [/frame]
    [/post_movement_anim]
    [draw_weapon_anim]
        start_time=0
        terrain_type={HARPY_UNWALKABLE_TERRAINS}
        [frame]
            image="falconeer/harpy-falconeer-land[1~2].png:50"
        [/frame]
    [/draw_weapon_anim]
    [sheath_weapon_anim]
        start_time=0
        terrain_type={HARPY_UNWALKABLE_TERRAINS}
        [frame]
            image="falconeer/harpy-falconeer-takeoff[1~4].png:50"
        [/frame]
    [/sheath_weapon_anim]
    [idle_anim]
        {STANDARD_IDLE_FILTER}
        start_time=0
        terrain_type=!,{HARPY_UNWALKABLE_TERRAINS}
        [frame]
            image="falconeer/harpy-falconeer-idling[1~15].png:[100*10,200,100,150,100*2]"
        [/frame]
    [/idle_anim]

    [attack]
        name=suck
        description=_"suck"
        type=pierce
        range=melee
		[specials]
			{WEAPON_SPECIAL_DRAINS}
		[/specials]
        damage=10
        number=1
        icon=attacks/claws-animal.png
    [/attack]

    [attack_anim]
        [filter_attack]
            name=suck
        [/filter_attack]
        offset=0.0~0.2,0.2~0.7,0.7~0.2,0.2~0.0
        start_time=-260
        [frame]
            image="falconeer/harpy-falconeer-talonb[1~7].png:100"
        [/frame]
        {SOUND:HIT_AND_MISS {SOUND_LIST:SWORD_SWISH} {SOUND_LIST:MISS} -25}
    [/attack_anim]

        {SOUND:HIT_AND_MISS claws.ogg {SOUND_LIST:MISS} -25}
        [frame]
            image="falconeer/harpy-falconeer.png:50"
        [/frame]
    [/attack_anim]
[/unit_type]
