#textdomain wesnoth-hive
#based off of rough rinos, 3rd ranged is the walking foretress with a catapult, melee gets polearm stuff

[unit_type]
    id=Lepidotran Day
    name= _ "Lepidoptran Day"
    race=hive
    image="falconeer/harpy-falconeer.png"
    image_icon="falconeer/harpy-falconeer.png"
    profile="falconeer/harpy-falconeer-portrait-female.webp"
    small_profile="falconeer/harpy-falconeer-portrait-female.webp~CROP(0,0,562,703)"
    hitpoints=56
    movement_type=hivegrounded
    movement=8
    experience=150
    gender=female,male
    level=3
    alignment=chaotic
    advances_to=Null
    cost=27
    usage=fighter

    description= _ "Stag Beatle Riders... Not quite as fast as horsemen on regular terrain, but a bit tougher, and better at dealing with rocks, hills, and brambles."
	
	[event]
		name=new_turn
		[store_time_of_day]
			variable=current_tod
		[/store_time_of_day]
		
		[if]
			[variable]
				name=current_tod.lawful_bonus
				less_than=0
			[/variable]
			[then]
				[transform_unit]
					[filter]
						type=Lepidoptran Day
					[/filter]
					target_type=Lepidoptran Night
				[/transform_unit]
			[/then]
			[else]
				[variable]
					name=current_tod.lawful_bonus
					greater_than=0
				[/variable]
				[then]
					[transform_unit]
						[filter]
							type=Lepidotran Night
							#optional, add animation
						[/filter]
						target_type=Lepidoptran Day
					[/transform_unit]
				[/then]
			[/else]
		[/if]
		{CLEAR_VARIABLE current_tod}
	[/event]
	
    [movement_costs]
        forest=1
    [/movement_costs]
	[resistances]
	arcane=90
	[/resistances]
    
    die_sound={SOUND_LIST:HUMAN_FEMALE_DIE}
    [death]
        start_time=0
        [frame]
            image="falconeer/harpy-falconeer-death[1~9].png:[100,50*8]"
        [/frame]
    [/death]
	
	[abilities]
		{ABILITY_SKIRMISHER}
	[/abilities]

    {DEFENSE_ANIM "falconeer/harpy-falconeer-hit[1~3,1].png:[75*3,1]" "falconeer/harpy-falconeer.png" {SOUND_LIST:HUMAN_FEMALE_HIT} }

    [standing_anim]
        [frame]
            image="falconeer/harpy-falconeer.png"
        [/frame]
    [/standing_anim]
    [standing_anim]
        start_time=0
        terrain_type={HIVE_UNWALKABLE_TERRAINS}
        submerge=0.01
        [frame]
            image="falconeer/harpy-falconeer-flyb[1~4].png:150"
        [/frame]
    [/standing_anim]
    [movement_anim]
        start_time=0
        [frame]
            image="falconeer/harpy-falconeer-flyb[1~4].png:150"
        [/frame]
    [/movement_anim]
    [pre_movement_anim]
        start_time=0
        terrain_type=!,{HIVE_UNWALKABLE_TERRAINS}
        [frame]
            image="falconeer/harpy-falconeer-takeoff[1~4].png:50"
        [/frame]
    [/pre_movement_anim]
    [post_movement_anim]
        start_time=0
        terrain_type=!,{HIVE_UNWALKABLE_TERRAINS}
        [frame]
            image="falconeer/harpy-falconeer-land[1~2].png:50"
        [/frame]
    [/post_movement_anim]
    [draw_weapon_anim]
        start_time=0
        terrain_type={HIVE_UNWALKABLE_TERRAINS}
        [frame]
            image="falconeer/harpy-falconeer-land[1~2].png:50"
        [/frame]
    [/draw_weapon_anim]
    [sheath_weapon_anim]
        start_time=0
        terrain_type={HIVE_UNWALKABLE_TERRAINS}
        [frame]
            image="falconeer/harpy-falconeer-takeoff[1~4].png:50"
        [/frame]
    [/sheath_weapon_anim]
    [idle_anim]
        {STANDARD_IDLE_FILTER}
        start_time=0
        terrain_type=!,{HIVE_UNWALKABLE_TERRAINS}
        [frame]
            image="falconeer/harpy-falconeer-idling[1~15].png:[100*10,200,100,150,100*2]"
        [/frame]
    [/idle_anim]
	
	#was testing things out, doesn't need to have this many strange abilities
	#silk probably has to go, but I don't know what to replace it with
	#and we need at least one different damage type from arcane
    [attack]
        name=silk wrap
        description=_"trap with silk"
        type=impact
        range=melee
		[specials]
			{WEAPON_SPECIAL_SLOW}
		[/specials]
        damage=4
        number=4
        icon=attacks/claws-animal.png
    [/attack]

    [attack]
        name=shadestep
        description=_"a fluttering dance, invoking night's protection and attacking"
        type=arcane
        range=ranged
        [specials]
			{WEAPON_SPECIAL_DEFLECT}
        [/specials]
        damage=4
        number=4
        icon=attacks/claws-animal.png
    [/attack]
	
	[attack]
		name=scale powder
		description=_"an attack with scale powder"
		type=arcane
		range=ranged
		[specials]
			{WEAPON_SPECIAL_POISON}
		[/specials]
		damage=8
		number=4
		icon=attacks/claws-animal.png
	[/attack]

    [attack_anim]
        [filter_attack]
            name=silk wrap
        [/filter_attack]
        offset=0.0~0.2,0.2~0.7,0.7~0.2,0.2~0.0
        start_time=-260
        [frame]
            image="falconeer/harpy-falconeer-talonb[1~7].png:100"
        [/frame]
        {SOUND:HIT_AND_MISS {SOUND_LIST:SWORD_SWISH} {SOUND_LIST:MISS} -25}
    [/attack_anim]

    [attack_anim]
        [filter_attack]
            name=shimmering dance
        [/filter_attack]
        start_time=-500
        [frame]
            image="falconeer/harpy-falconeer-falconhunt[1~8].png:[100*4,100,100*3]"
        [/frame]
        missile_start_time=-200
        [if]
            direction=nw,ne,n
            [missile_frame]
                halo="falconeer/harpy-falconeer-falconlunge[4,5].png:[150,50],falconeer/harpy-falconeer-falconlunge1.png~FL(horiz):100"
                offset=0.0~1.0,1.0~0.0
                halo_y=0:200,0~-20:100
                auto_vflip=no
            [/missile_frame]
        [/if]
        [else]
            direction=sw,se,s
            [missile_frame]
                halo="falconeer/harpy-falconeer-falconlunge[1,2,3].png:[100,50*2],falconeer/harpy-falconeer-falconlunge4.png~FL(horiz):100"
                offset=0.0~1.0,1.0~0.0
                halo_y=0:200,0~-20:100
                auto_vflip=no
            [/missile_frame]
        [/else]
		
		[attack_anim]
        [filter_attack]
            name=scale powder
        [/filter_attack]
        start_time=-500
        [frame]
            image="falconeer/harpy-falconeer-falconhunt[1~8].png:[100*4,100,100*3]"
        [/frame]
        missile_start_time=-200
        [if]
            direction=nw,ne,n
            [missile_frame]
                halo="falconeer/harpy-falconeer-falconlunge[4,5].png:[150,50],falconeer/harpy-falconeer-falconlunge1.png~FL(horiz):100"
                offset=0.0~1.0,1.0~0.0
                halo_y=0:200,0~-20:100
                auto_vflip=no
            [/missile_frame]
        [/if]
        [else]
            direction=sw,se,s
            [missile_frame]
                halo="falconeer/harpy-falconeer-falconlunge[1,2,3].png:[100,50*2],falconeer/harpy-falconeer-falconlunge4.png~FL(horiz):100"
                offset=0.0~1.0,1.0~0.0
                halo_y=0:200,0~-20:100
                auto_vflip=no
            [/missile_frame]
        [/else]

        {SOUND:HIT_AND_MISS claws.ogg {SOUND_LIST:MISS} -25}
        [frame]
            image="falconeer/harpy-falconeer.png:50"
        [/frame]
    [/attack_anim]
[/unit_type]
