#textdomain wesnoth-The_High_Kingdom
[unit_type]
    id=Shearin Buccaneer
    name= _ "Shearin Buccaneer"
    race=high_kingdom
    image="unit_assests/pirate/buccaneer.png"
    image_icon="unit_assests/pirate/buccaneer-fly1.png~CROP(32,24,72,72)"
    profile="unit_assests/pirate/buccaneer.png"
    hitpoints=56
    movement_type=pirate
    movement=6
    experience=10
    gender=female,male
    level=2
    alignment=chaotic
    advances_to=Shearin Marauder
    cost=24
    usage=fighter
    description= _ ""
    num_traits=3
    ignore_race_traits=yes
    {TRAIT_DEXTROUS}
    {TRAIT_QUICK}
    {TRAIT_STRONG}
    {TRAIT_RESILIENT}
    {TRAIT_TREACHEROUS}

    [abilities]
        {ABILITY_ROBBERY}
    [/abilities]

    [resistance]
        impact=100
    [/resistance]
    [defense]
        deep_water=50
    [/defense]
    die_sound={SOUND_LIST:HUMAN_FEMALE_DIE}
    [death]
        start_time=0
        [frame]
            image="unit_assests/pirate/buccaneer-death[1~6].png:100,50*5,unit_assests/pirate/buccaneer-death7.png:200"
        [/frame]
    [/death]
    {DEFENSE_ANIM "unit_assests/pirate/buccaneer-hit[1~3,1].png:[75*3,1]" "unit_assests/pirate/buccaneer-fly1.png" {SOUND_LIST:HUMAN_FEMALE_HIT} }

    [standing_anim]
        start_time=0
        [frame]
            image="unit_assests/pirate/buccaneer-stand[1~6].png:100"
        [/frame]
    [/standing_anim]
    [movement_anim]
        start_time=0
        [frame]
            image="unit_assests/pirate/buccaneer-fly[1~6].png:100"
        [/frame]
    [/movement_anim]
    [idle_anim]
        {STANDARD_IDLE_FILTER}
        start_time=0
        [frame]
            image="unit_assests/pirate/buccaneer-idling[1~6].png:100"
        [/frame]
    [/idle_anim]

    [attack]
        name=sword
        description=_"sword"
        type=blade
        range=melee
        damage=11
        number=3
        icon=attacks/sword-human.png
    [/attack]

    [attack_anim]
        [filter_attack]
            name=sword
        [/filter_attack]
        offset=0.0~0.2,0.2~0.7,0.7,0.7~0.2,0.2~0.0
        start_time=-325
        [frame]
            image="unit_assests/pirate/buccaneer-slash[1~9].png:75"
        [/frame]
        {SOUND:HIT_AND_MISS {SOUND_LIST:SWORD_SWISH} {SOUND_LIST:MISS} -75}
    [/attack_anim]

[/unit_type]
