#textdomain wesnoth-The_High_Kingdom
[unit_type]
    id=Sun Seer
    name= _ "Sun Seer"
    race=high_kingdom
    image="unit_assests/initiate/sun_64.png"
    image_icon="unit_assests/initiate/sun_64.png~CROP(0,0,72,72)"
    profile="unit_assests/initiate/sun_64.png"
    halo=halo/elven/shyde-stationary-halo[1~6].png:150
    hitpoints=55
    movement_type=hk1_foot
    movement=7
    experience=150
    gender=male
    level=3
    alignment=lawful
    advances_to=Avatar of Rah
    cost=57
    usage=mixed fighter

    description= _ "Resplendent Underlands make the most of their dazzling presence to help their allies go unnoticed. In social gatherings where they thrive, they know when to show glitter and when to lay low so as not to displease their host.
In battle they learnt to be very nimble, avoiding the harm that comes with being the center of attention, and confuse the enemy by making their presence clear or hidden to be harder to catch. "
    [abilities]
        {ABILITY_SKIRMISHER}
        {ABILITY_DIVERSION}
    [/abilities]
    [resistance]
        arcane=80
    [/resistance]
    [defense]
        forest=50
        flat=40
        sand=40
        hills=40
        frozen=40
    [/defense]

    [teaching_anim] #   used for diversion anim. by default teaching anim only works while affected enemy attacks so that cuts the animation short. to avoid my anim getting cut I just set the start time so that most of it plays before the hit occurs at time 0. The issue with this, is that the unit being distracted is stuck in its first attack frame if the resplendent unit_assests/initiate/Sun_'s anim starts before it. To offset this, my anim is 600ms total, and i make it start 200ms later than it could (almost all mainline attack animations seem to start at least at -200, so it's likely the distraction anim will have time to finish, and it reduces potential waiting time).
        [filter]
            status=diversion
        [/filter]

        start_time=-400
        value_second=1
        [frame]
            image="unit_assests/initiate/sun_64-distraction[1~10].png:[75*2,50*2,75,50*4,75]"
        [/frame]
    [/teaching_anim]
    [teaching_anim] #   flying version of the anim to reconnect with anims where unit_assests/initiate/Sun_ is above water (idk any pre/post-teaching anim so there it goes)
        [filter]
            status=diversion
        [/filter]

        start_time=-400
        value_second=1
        [frame]
            image="unit_assests/initiate/sun_64-fly1.png:50,unit_assests/initiate/sun_64distractionflight[1~10].png:[75*2,50*2,75,50*4,75],unit_assests/initiate/sun_64fly6.png:50"
        [/frame]
    [/teaching_anim]

    die_sound={SOUND_LIST:HUMAN_FEMALE_DIE}
    [death]
        start_time=0
        [frame]
            image="unit_assests/initiate/sun_64-death[1~8].png:[100,50*6,200]"
        [/frame]
    [/death]
    {DEFENSE_ANIM "unit_assests/initiate/sun_64-hit[1~3,1].png:[75*3,1]" "unit_assests/initiate/sun_64.png" {SOUND_LIST:HUMAN_FEMALE_HIT} }
    [standing_anim]
        [frame]
            image="unit_assests/initiate/sun_64.png"
        [/frame]
    [/standing_anim]
    [standing_anim]
        start_time=0

        submerge=0.01
        [frame]
            image="unit_assests/initiate/sun_64-stand[1~6].png:100"
        [/frame]
    [/standing_anim]
    [movement_anim]
        start_time=0
        [frame]
            image="unit_assests/initiate/sun_64-fly[1~6].png:100"
        [/frame]
    [/movement_anim]
    
    
    
    
    [idle_anim]
        {STANDARD_IDLE_FILTER}
        start_time=0

        [frame]
            image="unit_assests/initiate/sun_64-wiggle[1~9,2~5,2,1].png:[100,75*4,125*4,75*4,100*2]"
        [/frame]
    [/idle_anim]

    [attack]
        name=staff
        description=_"staff"
        type=impact
        range=melee
        damage=7
        number=3
        [specials]
            {WEAPON_SPECIAL_FIRSTSTRIKE}
        [/specials]
        icon=attacks/quarterstaff.png
    [/attack]

    [attack_anim]
        [filter_attack]
            name=staff
        [/filter_attack]
        direction=nw,ne,sw,se
        offset=0.0~0.2,0.2~0.5,0.5,0.5~0.2,0.2~0.0
        start_time=-400
        [frame]
            image="unit_assests/Riverguard/Riverguard-slash[1~11].png:75"
        [/frame]
        {SOUND:HIT_AND_MISS {SOUND_LIST:SWORD_SWISH} {SOUND_LIST:MISS} -75}
    [/attack_anim]

    [attack]
        name=Sunstrike
        description=_"Sunstrike"
        icon=attacks/fire-blast.png
        type=fire
        range=ranged
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        damage=8
        number=4
    [/attack]

    [attack_anim]
        [filter_attack]
            name=Sunstrike
        [/filter_attack]
        missile_start_time=-300
        [if]
            hits=yes
            [missile_frame]
                offset=1.0
                y=-10
                duration=600
                image="unit_assests/initiate/sun_64-gust[1~9].png:100"
                auto_vflip=no
            [/missile_frame]
        [/if]
        [else]
            hits=no
            [missile_frame]
                offset=1.0
                y=-10
                duration=600
                image="unit_assests/initiate/sun_64-gust-fail[1~9].png:100"
                auto_vflip=no
            [/missile_frame]
        [/else]
        start_time=-400
        [frame]
            image="unit_assests/initiate/sun_64-sing[2~4].png:100"
            sound=magic-holy-miss-2.ogg
            #{SOUND:HIT_AND_MISS magic-holy-miss-2.ogg magic-holy-miss-1.ogg -100}
        [/frame]
        [frame]
            image="unit_assests/initiate/sun_64-sing[5~8].png:100"
        [/frame]
        {SOUND:HIT_AND_MISS magic-faeriefire.ogg magic-faeriefire-miss.ogg 0}
        halo_start_time=-350
        [halo_frame]
            halo=halo/saurian-magic-halo-[1~7].png:60
            halo_x,halo_y=0,-12
            auto_vflip=no
        [/halo_frame]
        [frame]
            image="unit_assests/initiate/sun_64.png:50"
        [/frame]
    [/attack_anim]
[/unit_type]
