#textdomain wesnoth-The_High_Kingdom
[unit_type]
    id=Ekosian Nightbringer
    name= _ "Ekosian Nightbringer"
    race=high_kingdom
    image="unit_assests/initiate/bastet_64.png"
    profile="unit_assests/initiate/bastet_64.png"
    hitpoints=60
    movement_type=hk2_foot
    movement=6
    experience=210
    gender=female
    level=3
    alignment=chaotic
    advances_to=null    # Bast Nightprowler
    {AMLA_ENDSINGER}
    cost=59
    usage=mixed fighter # skirmisher

    [abilities]
        {ABILITY_NIGHTSTALK}
        # {ABILITY_SKIRMISHER}
    [/abilities]
    description= _ "When the night is at its darkest, are the shadows not more enticing than ever? Hide in the night, enjoy it, use it, but never forget it is not your friend. Those that fear not the shadows will in time join their ranks.
-Tales of the owl hunters"

    die_sound={SOUND_LIST:HUMAN_FEMALE_DIE}

    [defense]
        forest=30
        cave=30
        hills=40
        sand=40
        swamp=60
        snow=70
        ice=70
        plains=50
        shallow_water=60
    [/defense]
    [movement_costs]
        forest=1
        cave=1
        hills=1
        sand=1
        swamp=2
        snow=2
        ice=3
    [/movement_costs]
    [death]
        start_time=0
        [frame]
            image="unit_assests/initiate/Nightbringer-death[1~7].png:100,50*6,unit_assests/initiate/Nightbringer-death8.png:200"
        [/frame]
    [/death]
    {DEFENSE_ANIM "unit_assests/initiate/Nightbringer-hit[1~3].png:75" "unit_assests/initiate/bastet_64.png" {SOUND_LIST:HUMAN_FEMALE_HIT} }
    [standing_anim]
        start_time=0
        [frame]
            image="unit_assests/initiate/Nightbringer-floatc[1~4].png:250"
        [/frame]
    [/standing_anim]
    [movement_anim]
        start_time=0
        [frame]
            image="unit_assests/initiate/Nightbringer-floatc[1~4].png:250"
        [/frame]
    [/movement_anim]
    [idle_anim]
        {STANDARD_IDLE_FILTER}
        start_time=0
        [frame]
            image="unit_assests/initiate/Nightbringer-idling[1~8].png:100"
        [/frame]
    [/idle_anim]

    [attack]
        name=dagger
        description=_"dagger"
        type=blade
        range=melee
        damage=6
        number=4
        [specials]
            {WEAPON_SPECIAL_BACKSTAB}
        [/specials]
        icon=attacks/dagger-curved.png
    [/attack]

    [attack_anim]
        [filter_attack]
            name=knife
        [/filter_attack]
        offset=0.0~0.2,0.2~0.7,0.7~0.2,0.2~0.0
        start_time=-500
        [frame]
            image="unit_assests/initiate/Nightbringer-talonb[1~8].png:100"
        [/frame]
        {SOUND:HIT_AND_MISS sword-1.ogg dagger-swish.wav -100}
    [/attack_anim]
[/unit_type]
