#textdomain wesnoth-The_Deep
[multiplayer_side]
    id=Deep
    name= _"Deep"
    image="healer/healer3_64.png"

    type=Atlantean Luminary
    leader=Atlantean Champion, Atlantean Luminary, Atlantean Surger, Atlantean Head Hunter, Sea Dragoon, Crab Triton, Queen Crab
    recruit={DEEP_ERA_AOH_RECRUIT_LIST}
    terrain_liked=Wd
    [ai]
        recruitment_pattern=fighter,fighter,archer,mixed fighter,healer,scout
    [/ai]
[/multiplayer_side]
