#textdomain wesnoth-The_High_Kingdom

#define ABILITY_HEAL_4
    [heals]
        value=4
        id=healing
        affect_allies=yes
        name= _ "heals +4"
        female_name= _ "female^heals +4"
        description= _ "This unit uses ancient magic to heal units more quickly than is normally possible on the battlefield.

A unit cared for by this healer may heal up to 4 HP per turn, or be cured of poison."
        affect_self=no
        poison=cured
        [affect_adjacent]
        [/affect_adjacent]
    [/heals]
#enddef

#define ABILITY_EMBALMER
    [dummy]
        id=embalm
        name= _ "embalm"
        description= _ "When an allied unit dies next to an Embalmer, that unit is replaced with a Khat. This doesn’t work on Undead."
    [/dummy]
#enddef

#define ABILITY_EMBALMERS_PROTECTION
    [dummy]
        id=embalmers_protection
        name=_"Embalmer's Protection"
        description= _"If this unit dies, it is turned into a Khat"
    [/dummy]
#enddef

#define ABILITY_EMBALMER_EVENT
    [event]
        name=last breath
        first_time_only=no
        [filter]
            [not]
                race=undead
            [/not]
            [not]
                race=elemental
            [/not]
            [not]
                is_enemy=yes
            [/not]
            [filter_adjacent]
                [not]
                    is_enemy=yes
                [/not]
                ability=embalm
            [/filter_adjacent]
        [/filter]
        # I think the filter is better set up than before,
        # still need to implement a better version of plague, do instant dvancement instead
#        [plague]
#            id=plague(khat)
#            affect_self=yes
#            type=khat
#        [/plague]
        {ADVANCE_UNIT x,y=$x1,$y1 "khat"}
        {UPDATE_STATS}
    [/event]
#enddef

#define ABILITY_DARKENS
	[illuminates]
		id=darkens
		value=-25
		min_value=-25
		max_value=25
		cumulative=no
		affect_self=yes
		halo_image="halo/darkens-aura.png"
		name= _ "darkens"
		female_name= _ "female^darkens"
		description= _ "This unit darkens the surrounding area, making chaotic units fight better, and lawful units fight worse.

Any units adjacent to this unit will fight as if it were dusk when it is day, and as if it were night when it is dusk."
	[/illuminates]
#enddef


    # can probably be made to work with the tags from marksman leadership
#define ABILITY_DEFENDER
    [damage]
        id=defender
        name=_"defender"
        description= _ "Adjacent unit of the same side take %20 less damage"
        [filter_student]
            is_enemy=no
        [/filter_student]
        apply_to=opponent
        multiply=.8
        cumulative=yes
        affect_self=no
        affect_allies=yes
        [affect_adjacent]
        [/affect_adjacent]
    [/damage]
#enddef

# #define ABILITY_DEFENDER_EVENT
#     [event]
#         name=move to
#         [filter_adjacent]
#         first_time_only=no
#                 ability=defender
#             [filter_side]   #   don't know exactly what this filter does
#         [/filter_adjacent]
#             [/filter_side]
#         # give allies a hidden weapon special that reduces incoming damage
#         # modify tag?
#         [/affect_adjacent]
#         [affect_adjacent]
# #enddef
#     [/event]
#     [damage]
# #define WEAPON_SPECIAL_DEFENDER
#         description= _ "next to a unit with defender"
#         id=defender
#         multiply=.8
#         apply_to=opponent
# #enddef
#     [/damage]

#define ABILITY_ROBBERY
    [dummy]
        id=robbery
        name=_"robbery"
        description=_"When this unit kills an enemy unit, gain gold equal to 1 plus 2 times the slain unit's level"
    [/dummy]
    # ideas
    # -This unit could have the trait treacherous, where it costs 1 extra upkeep per turn
    #  or this could be it turns rogue if you go negative in money
    #  > I think turn rogue is the better, but harder option
    # -feral units immune to robbery
    # -pirates can't be loyal
#enddef
#define ABILITY_ROBBERY_EVENT
    [event]			#Pirates rob
	    name=die
	    first_time_only=no
        [filter]
            [not]
                trait=feral
            [/not]
        [/filter]
	    [filter_second]
	    	ability=robbery
	    [/filter_second]
	    {VARIABLE gold_stolen $unit.level}
	    [gold]
	    	side=$second_unit.side
	    	amount=$gold_stolen
	    [/gold] 
	    [floating_text]
	    	x,y=$x1,$y1
	    	text="<span color='yellow'>" + _ "+$gold_stolen gold" + "</span>"
	    [/floating_text]
	    {CLEAR_VARIABLE gold_stolen}
	[/event]
#enddef

#define ABILITY_SKULK
    [hides]
        id=skulk_underlands
        name= _ "skulk"
        name_inactive= _ "skulk"
        description= _ "This unit can hide in swamps and shallow water, and remain undetected by its enemies.

Enemy units cannot see this unit while it is in a swamp or shallow water hex, except if they have units next to it. Any enemy unit that first discovers this unit immediately loses all its remaining movement."
        description_inactive= _ "This unit can hide in swamps and shallow water, and remain undetected by its enemies.

Enemy units cannot see this unit while it is in a swamp or shallow water hex, except if they have units next to it. Any enemy unit that first discovers this unit immediately loses all its remaining movement."
        affect_self=yes
        [filter_self]
            [filter_location]
                terrain=Chs,Khs,Ss,Ss^Vhs,Ss^Vm,Wst,St
            [/filter_location]
        [/filter_self]
    [/hides]
#enddef

#define WEAPON_SPECIAL_CHAOS
    [dummy]
        id=chaos
        name= _ "chaos"
        female_name= _ "female^chaos"
        description= _ "This attack can have un predictable effects"
    [/dummy]
#enddef
#define WEAPON_SPECIAL_CHAOS_EVENT
    [event]
        name=attacker_hits
        first_time_only=no
        [filter_attack]
            special=chaos
        [/filter_attack]
        {VARIABLE_OP val rand(-4..4)}
        [if]
            [variable]
                name=val
                greater_than=0
            [/variable]
            [then]
                [filter_second]
                    is_enemy=yes
                [/filter_second]
                [harm_unit]
                    amount=$val
                    [filter]
                        [filter_second]
                            is_enemy=yes
                        [/filter_second]
                    [/filter]
                [/harm_unit]
            [/then]
            [elseif]
                [variable]
                    name=val
                    less_than=0
                [/variable]
                [then]
                    [filter_second]
                        [heals]
                            amount=-$val
                            [filter]
                                [filter_second]
                                    is_enemy=yes
                                [/filter_second]
                            [/filter]
                        [/heals]
                    [/filter_second]
                [/then]
            [/elseif]
        [/if]
#        [harm_unit]
#            # error: this filter seems to apply to everyone on the map
#            # amount="val - 4"
#            [filter]
#                [filter_second]
#                    is_enemy=yes
#                [/filter_second]
#            [/filter]
#            amount=$val
#        [/harm_unit]
        
#	    [floating_text]
#	    	x,y=$x1,$y1
#	    	text="<span color='green'>" + _ "4" + "</span>"
#	    [/floating_text]
        {CLEAR_VARIABLE val}
    [/event]
#enddef

#define WEAPON_SPECIAL_SEIGE
   [chance_to_hit]
        id=seige
        name= _ "seige"
        female_name= _ "female^seige"
        description= _ "Castles and villages don't provide much protection against this weapon"
        affect_self=yes
        affect_allies=no
        affect_enemies=no
        cumulative=yes
        add=10
        [filter]
            [filter_second]
                terrain=C*,K*
            [/filter_second]
        [/filter]
   [/chance_to_hit]
#enddef

#define WEAPON_SPECIAL_DRIVEBY
##    [dummy]
##        id=driveby
##        name= _ "Driveby"
##        female_name= _ "female^driveby"
##        description= _ "This unit uses ancient magic to heal units more quickly than is normally possible on the battlefield.
##A unit cared for by this healer may heal up to 4 HP per turn."
##    [/dummy]
##
##    [event]
##        name=attack
##        first_time_only=yes
##
##        active_on=offense
##        apply_to=self
##        overwrite_specials=1
##
##        affect_allies=no
##    [/event]
#enddef

#define ABILITY_CRAB_LEADERSHIP
[leadership]
    id=crab_leadership
    name=_'leadership (crab)'
    description=_"This unit inpires it's crab subjects to fight harder."
    first_time_only=no
    affect_allies=yes
    affect_self=no
    [affect_adjacent]
        [filter]
            race=crab
            formula="level < other.level"
        [/filter]
	[/affect_adjacent]
    value="(30 * (level - other.level))"
    cumulative=no
[/leadership]
#enddef

#define ABILITY_CRAB_EGG
    [dummy]
        id=crab_egg
        name="crab queen"
        description=_"This unit lays a crab egg that can hatch into a new crab unit."
    [/dummy]
#enddef
# maybe the implementation of this is that we assign an invibile weapon special to all the unit's
# attacks that is an invisible plague(crab egg)
#define ABILITY_CRAB_EGG_EVENT
    [event]
        name=attack
        first_time_only=no
        [filter]
            ability=crab egg
        [/filter]
        # give invisible weapon special crab egg plague to all attacks
    [/event]
#enddef

# #define ABILITY_RAINFALL
#     [leadership]
#         id=rainfall
#         name=_"rainfall"
#         description=_"This unit causes a heavy rainfall that affects the battlefield in unpredictable ways."
#         affect_allies=yes
#         affect_enemies=yes
#         [affect_adjacent]
#             [if]
#                 [filter]
#                     race=merman
#                 [/filter]
#                 [then]
#                     defense=40
#                     movement=1
#                 [/then]
#                 [elseif]
#                     [filter]
#                         race=undead
#                     [/filter]
#                     [then]
#                         defense=20
#                         movement=2
#                     [/then]
#                 [/elseif]
#             [/if]
#         [/affect_adjacent]
#     [/leadership]
# #enddef
#define ABILITY_RAINFALL_2
    [dummy]
        id=rainfall
        name=_"rainfall"
        description=_"This unit causes a heavy rainfall that affects the battlefield in unpredictable ways."
    [/dummy]
#enddef
#define ABILITY_RAINFALL_EVENT
    [event]
        name=move to
        first_time_only=no
        # this needs to be lua coded
    [/event]
#enddef

#define WEAPON_SPECIAL_HARPOON
    [event]
        name=harpoon
        id=harpoon
        first_time_only=no
        # can only move to a hex adjacent to the user
    [/event]
#enddef

#define UPDATE_STATS
	[update_stats]
		x,y=$x1,$y1
	[/update_stats]
#enddef

[resource]
    id=hk_ability_events
    {ABILITY_ROBBERY_EVENT}
    {ABILITY_EMBALMER_EVENT}
    # {ABILITY_DEFENDER_EVENT}
    {ABILITY_RAINFALL_EVENT}

    # {WEAPON_SPECIAL_SEIGE_EVENT}
    {WEAPON_SPECIAL_CHAOS_EVENT}
    # {WEAPON_SPECIAL_DEFENDER_EVENT}
[/resource]
