#textdomain wesnoth-The_High_Kingdom
[unit_type]
    id=Ekosian Initiate
    name= _ "Ekosian Initiate"
    race=high_kingdom
    image="unit_assests/initiate/initiates_f_64.png"
    profile="unit_assests/initiate/initiates_f_64.png"
    small_profile="unit_assests/initiate/initiates_f_64.png"
    hitpoints=29
    movement_type=hk1_foot
    movement=5
    experience=44
    gender=female,male
    level=1
    alignment=chaotic
    advances_to=Ekosian Visir, Ekosian Cultist
    cost=18
    usage=mixed fighter

    [male]
        gender=male
    profile="unit_assests/initiate/initiates_m_64.png"
    small_profile="unit_assests/initiate/initiates_m_64.png"
        die_sound={SOUND_LIST:HUMAN_DIE}
        {DEFENSE_ANIM "unit_assests/initiate/initiate-defend[1~3,1].png:[75*3,1]" "unit_assests/initiate/initiates_m_64.png" {SOUND_LIST:HUMAN_HIT} }
    [/male]

    description= _ "Ekosian cultists favor forest shadows and guile. Trained in stealth and ritual combat, they strike unseen and use dark rites to harry their enemies."

    [resistance]
        arcane=80
    [/resistance]

    die_sound={SOUND_LIST:HUMAN_FEMALE_DIE}
    [death]
        start_time=0
        [frame]
            image="unit_assests/initiate/initiate-death[1~5].png:100,50*4,unit_assests/initiate/initiate-death6.png:200"
        [/frame]
    [/death]
    {DEFENSE_ANIM "unit_assests/initiate/initiate-defend[1~3,1].png:[75*3,1]" "unit_assests/initiate/initiates_f_64.png" {SOUND_LIST:HUMAN_FEMALE_HIT} }

    [standing_anim]
        [frame]
            image="unit_assests/initiate/initiates_f_64.png"
        [/frame]
    [/standing_anim]
    [standing_anim]
        start_time=0
        submerge=0.01
        [frame]
            image="unit_assests/initiate/initiate-stand[5,6,1~4].png:100"
        [/frame]
    [/standing_anim]
    [movement_anim]
        start_time=0
        [frame]
            image="unit_assests/initiate/initiate-stand[5,6,1~4].png:100"
        [/frame]
    [/movement_anim]
    
    [idle_anim]
        {STANDARD_IDLE_FILTER}

        start_time=0
        [frame]
            image="unit_assests/initiate/initiate-idle[1~6].png:100,unit_assests/initiate/initiate-idle3.png:100"
        [/frame]
    [/idle_anim]

    [attack]
        name=Curse
        description=_"Curse"
        type=arcane
        range=ranged
        damage=7
        number=3
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        icon=attacks/curse.png
    [/attack]

    [attack_anim]
        [filter_attack]
            name=Curse
        [/filter_attack]
        offset=0.0~0.2:300,0.2~0.7:200,0.7~0.2:200,0.2~0.0:100
        start_time=-400
        [frame]
            image="unit_assests/initiate/initiate-attack[1~6].png:100"
        [/frame]
        {SOUND:HIT_AND_MISS claws.ogg dagger-swish.wav -100}
    [/attack_anim]

    [attack]
        name=staff
        description=_"Staff"
        type=impact
        range=melee
        damage=3
        number=2
        icon=attacks/staff-blunt.png
    [/attack]

    [attack_anim]
        [filter_attack]
            name=staff
        [/filter_attack]
        offset=0.0~0.2:300,0.2~0.7:200,0.7~0.2:200,0.2~0.0:100
        start_time=-400
        [frame]
            image="unit_assests/initiate/initiate-attack[1~6].png:100"
        [/frame]
        {SOUND:HIT_AND_MISS claws.ogg dagger-swish.wav -100}
    [/attack_anim]
[/unit_type]
