#textdomain wesnoth-The_High_Kingdom
[unit_type]
    id=Khat
    name= _ "Khat"
    race=high_kingdom
    image="unit_assests/Khat/Khat-64.png"
    image_icon="unit_assests/Khat/Khat-64.png~CROP(0,8,72,72)"
    profile="unit_assests/Khat/Khat-64.png"
    hitpoints=25
    movement_type=high_kingdom_foot
    movement=4
    experience=25
    gender=female,male
    level=1
    alignment=chaotic
    advances_to=Sahu
    cost=11
    usage=fighter

    description= _ "Khat are small but tenacious Ekosian fighters who harry foes with binding strikes and dark magic; their resiliance makes them dangerous in close quarters."

    [resistance]
        impact=130
        pierce=50
        blade=100
        fire=150
        cold=20
        arcane=120
    [/resistance]
    [defense]
        cave=60
        castle=60
        sand=60
        shallow_water=10
        swamp=10
        snow=40
    [/defense]
    die_sound={SOUND_LIST:HUMAN_FEMALE_DIE}
    [death]
        start_time=0
        [frame]
            image="unit_assests/Khat/Khat-death[1~6].png:100,50*5,unit_assests/Khat/Khat-death7.png:200"
        [/frame]
    [/death]
    {DEFENSE_ANIM "unit_assests/Khat/Khat-hit[1~3].png:75" "unit_assests/Khat/Khat-64.png" {SOUND_LIST:HUMAN_FEMALE_HIT} }

    [standing_anim]
        start_time=0
        [frame]
            image="unit_assests/Khat/Khat-stand[1~6].png:100"
        [/frame]
    [/standing_anim]
    [movement_anim]
        start_time=0
        [frame]
            image="unit_assests/Khat/Khat-stand[1~6].png:100"
        [/frame]
    [/movement_anim]
    [idle_anim]
        {STANDARD_IDLE_FILTER}
        start_time=0
        [frame]
            image="unit_assests/Khat/Khat-idle[1~9].png:100,unit_assests/Khat/Khat-stand[4~6].png:100"
        [/frame]
    [/idle_anim]

    [attack]
        name=wraps
        description=_"wraps"
        type=impact
        range=melee
        damage=3
        number=2
        [specials]
            {WEAPON_SPECIAL_SLOW}
        [/specials]
        icon=attacks/claws-animal.png
    [/attack]

    [attack_anim]
        [filter_attack]
            name=wraps
        [/filter_attack]
        offset=0.0~0.2,0.2~0.7,0.7~0.2,0.2~0.0
        start_time=-160
        [frame]
            image="unit_assests/Khat/Khat-attack[1~4].png:100"
        [/frame]
        {SOUND:HIT_AND_MISS {SOUND_LIST:SWORD_SWISH} {SOUND_LIST:MISS} -25}
    [/attack_anim]

    [attack]
        name=curse
        description=_"curse"
        type=arcane
        range=ranged
        damage=8
        number=1
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        icon=attacks/curse.png
    [/attack]

    [attack_anim]
        [filter_attack]
            name=curse
        [/filter_attack]
        offset=0.0~0.2,0.2~0.7,0.7~0.2,0.2~0.0
        start_time=-160
        [frame]
            image="unit_assests/Khat/Khat[1~4].png:100"
        [/frame]
        {SOUND:HIT_AND_MISS {SOUND_LIST:SWORD_SWISH} {SOUND_LIST:MISS} -25}
    [/attack_anim]
[/unit_type]