#textdomain wesnoth-The_High_Kingdom
[unit_type]
    id=Ibian Skirmisher
    name= _ "Ibian Skirmisher"
    race=high_kingdom
    image="unit_assests/Ibian_Skirmisher/Ibian_Skirmisher-flagbearer-idleb1.png~CROP(0,0,72,72)"
    image_icon="unit_assests/Ibian_Skirmisher/Ibian_Skirmisher-flagbearer-idleb1.png~CROP(0,0,72,72)"
    profile="unit_assests/Ibian_Skirmisher/Ibian_Skirmisher-flagbearer-portrait-female-shortwing.webp"
    profile="unit_assests/Ibian_Skirmisher/Ibian_Skirmisher-flagbearer-portrait-female-shortwing.webp~CROP(0,0,625,470)"
    hitpoints=48
    movement_type=high_kingdom_foot
    movement=7
    experience=75
    gender=female,male
    level=2
    alignment=lawful
    advances_to=Harpy Featherlord
    cost=35
    usage=mixed fighter

    [male]
        gender=male
        profile="unit_assests/Ibian_Skirmisher/Ibian_Skirmisher-flagbearer-portrait-male-shortwing.webp"
        small_profile="unit_assests/Ibian_Skirmisher/Ibian_Skirmisher-flagbearer-portrait-female-shortwing.webp~CROP(0,0,625,470)"
        die_sound={SOUND_LIST:HUMAN_DIE}
        {DEFENSE_ANIM "unit_assests/Ibian_Skirmisher/Ibian_Skirmisher-flagbearer-hit[1~3].png:75" "unit_assests/Ibian_Skirmisher/Ibian_Skirmisher-flagbearer-idleb1.png"  {SOUND_LIST:HUMAN_HIT} }
    [/male]

    description= _ "The habit of guiding their bird around gives Underlands skills in observing and giving out orders, which are applicable in wide scale combat as well. Some falconeers take up the flag-bearing spear to lead their peers in battle, and while their fighting strength is lesser than others', the coordination they bring to the squadron makes it much more deadly. "

    [defense]
        hills=40
        mountains=30
    [/defense]

    [leading_anim]
        start_time=-200
        [frame]
            image="unit_assests/Ibian_Skirmisher/Ibian_Skirmisher-flagbearer-lead[1~4].png:75,unit_assests/Ibian_Skirmisher/Ibian_Skirmisher-flagbearer-idleb1.png:50"
        [/frame]
        halo_start_time=-100
        [halo_frame]
            halo="halo/misc/leadership-flare-[1~13].png:20"
            halo_x,halo_y=40,-36
        [/halo_frame]
    [/leading_anim]

    [standing_anim]
        start_time=0
        [frame]
            image="unit_assests/Ibian_Skirmisher/Ibian_Skirmisher-flagbearer-idleb[1~4].png:200"
        [/frame]
    [/standing_anim]
    [standing_anim]

        start_time=0
        [frame]
            image="unit_assests/Ibian_Skirmisher/Ibian_Skirmisher-flagbearer-stand[1~4].png:150"
        [/frame]
    [/standing_anim]
    die_sound={SOUND_LIST:HUMAN_FEMALE_DIE}
    [death]
        start_time=0
        [frame]
            image="unit_assests/Ibian_Skirmisher/Ibian_Skirmisher-flagbearer-death[1~10].png:[100,50*9]"
        [/frame]
    [/death]

    {DEFENSE_ANIM "unit_assests/Ibian_Skirmisher/Ibian_Skirmisher-flagbearer-hit[1~3].png:75" "unit_assests/Ibian_Skirmisher/Ibian_Skirmisher-flagbearer-idleb1.png" {SOUND_LIST:HUMAN_FEMALE_HIT} }

    [movement_anim]
        start_time=0
        [frame]
            image="unit_assests/Ibian_Skirmisher/Ibian_Skirmisher-flagbearer-fly[1~4].png:150"
        [/frame]
    [/movement_anim]

    [attack]
        name=spear
        description=_"spear"
        type=pierce
        range=melee
        damage=5
        number=4
        icon=attacks/spear-orcish.png
    [/attack]

    [attack_anim]
        [filter_attack]
            name=spear
        [/filter_attack]
        offset=0.0~0.2,0.2~0.7,0.7~0.2,0.2~0.0
        start_time=-160
        [frame]
            image="unit_assests/Ibian_Mercenary/Ibian_Mercenary-attack[1~4].png:100"
        [/frame]
        {SOUND:HIT_AND_MISS {SOUND_LIST:SWORD_SWISH} {SOUND_LIST:MISS} -25}
    [/attack_anim]

    [attack]
        name=sling
        description=_"sling"
        type=impact
        range=ranged
        damage=3
        number=3
        icon=attacks/sling.png
    [/attack]

    [attack_anim]
        [filter_attack]
            name=sling
        [/filter_attack]
        offset=0.0~0.2,0.2~0.7,0.7~0.2,0.2~0.0
        start_time=-160
        [frame]
            image="unit_assests/Ibian_Mercenary/Ibian_Mercenary[1~4].png:100"
        [/frame]
        {SOUND:HIT_AND_MISS {SOUND_LIST:SWORD_SWISH} {SOUND_LIST:MISS} -25}
    [/attack_anim]
[/unit_type]
