#textdomain wesnoth-The_High_Kingdom
[unit_type]
    id=Sun Acolyte
    name= _ "Sun Acolyte"
    race=high_kingdom
    image="unit_assests/visir/sun_acolyte64.png"
    profile="unit_assests/visir/sun_acolyte64.png"
    hitpoints=37
    movement_type=high_kingdom_foot
    movement=5
    experience=90
    gender=female,male
    level=2
    alignment=lawful
    advances_to=Ekosian Sun Seer
    cost=33
    usage=archer

    description= _ "Experienced minstrels may decide to become the keepers of unit_assests/Light_Acolyte/Light_Acolyte knowledge. They spend years learning from their masters the thousands of songs that relate unit_assests/Light_Acolyte/Light_Acolyte lore. Among these chants are magic spells that allow them to bend the winds to their will, that Underlands have used since olden times to travel across the ocean. "

    [resistance]
        arcane=80
        fire=80
    [/resistance]
    [defense]
        sand=60
    [/defense]
    die_sound={SOUND_LIST:HUMAN_FEMALE_DIE}
    [death]
        start_time=0
        [frame]
            image="unit_assests/Light_Acolyte/Light_Acolyte-galesinger-death[1~6].png:100,50*5,unit_assests/Light_Acolyte/Light_Acolyte-galesinger-death7.png:200"
        [/frame]
    [/death]
    {DEFENSE_ANIM "unit_assests/Light_Acolyte/Light_Acolyte-galesinger-hit[1~4].png:75" "unit_assests/Light_Acolyte/Light_Acolyte-galesinger-float1.png" {SOUND_LIST:HUMAN_FEMALE_HIT} }
    [standing_anim]
        start_time=0
        [frame]
            image="unit_assests/Light_Acolyte/Light_Acolyte-galesinger-float[1~6].png:100"
        [/frame]
    [/standing_anim]
    [movement_anim]
        start_time=0
        [frame]
            image="unit_assests/Light_Acolyte/Light_Acolyte-galesinger-float[1~6].png:100"
        [/frame]
    [/movement_anim]
    [idle_anim]
        {STANDARD_IDLE_FILTER}
        start_time=0
        [frame]
            image="unit_assests/Light_Acolyte/Light_Acolyte-galesinger-idling[1~12].png:100"
        [/frame]
    [/idle_anim]

    [attack]
        name=staff
        description=_"staff"
        type=impact
        range=melee
        damage=6
        number=2
        icon=attacks/claws-animal.png
    [/attack]
    [attack]
        name=Sunstrike
        description=_"Sunstrike"
        icon=attacks/iceball.png
        type=fire
        range=ranged
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        damage=8
        number=4
    [/attack]

    [attack_anim]
        [filter_attack]
            name=staff
        [/filter_attack]
        offset=0.0~0.2,0.2~0.7,0.7~0.2,0.2~0.0
        start_time=-160
        [frame]
            image="unit_assests/Light_Acolyte/Light_Acolyte-galesinger[1~4].png:100"
        [/frame]
        {SOUND:HIT_AND_MISS claws.ogg {SOUND_LIST:MISS} -100}
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=Sunstrike
        [/filter_attack]
        missile_start_time=-300
        [if]
            hits=yes
            [missile_frame]
                offset=1.0
                y=-10
                duration=600
                image="unit_assests/Light_Acolyte/Light_Acolyte-gust[1~9].png:100"
                auto_vflip=no
            [/missile_frame]
        [/if]
        [else]
            hits=no
            [missile_frame]
                offset=1.0
                y=-10
                duration=600
                image="unit_assests/Light_Acolyte/Light_Acolyte-gust-fail[1~9].png:100"
                auto_vflip=no
            [/missile_frame]
        [/else]
        start_time=-400
        [frame]
            image="unit_assests/Light_Acolyte/Light_Acolyte-galesinger-sing[2~4].png:100"
            sound=magic-holy-miss-2.ogg
            #{SOUND:HIT_AND_MISS magic-holy-miss-2.ogg magic-holy-miss-1.ogg -100}
        [/frame]
        [frame]
            image="unit_assests/Light_Acolyte/Light_Acolyte-galesinger-sing[5~8].png:100"
        [/frame]
        {SOUND:HIT_AND_MISS magic-faeriefire.ogg magic-faeriefire-miss.ogg 0}
        halo_start_time=-350
        [halo_frame]
            halo=halo/saurian-magic-halo-[1~7].png:60
            halo_x,halo_y=0,-12
            auto_vflip=no
        [/halo_frame]
        [frame]
            image="unit_assests/Light_Acolyte/Light_Acolyte-galesinger-float1.png:50"
        [/frame]
    [/attack_anim]
[/unit_type]
