#textdomain wesnoth-The_High_Kingdom
[unit_type]
    id=Ekosian Nightbringer
    name= _ "Ekosian Nightbringer"
    race=high_kingdom
    image="nightgaunt/harpy-nightgaunt-floatc1.png"
    profile="nightgaunt/harpy-nightgaunt-portrait2.webp"
    hitpoints=42
    movement_type=high_kingdom_foot
    movement=6
    experience=77
    gender=female
    level=2
    alignment=chaotic
    advances_to=Ekosian Bast
    cost=65
    usage=scout

    description= _ "When the night is at its darkest, are the shadows not more enticing than ever? Hide in the night, enjoy it, use it, but never forget it is not your friend. Those that fear not the shadows will in time join their ranks.
-Tales of the owl hunters"

    die_sound={SOUND_LIST:HUMAN_FEMALE_DIE}

    [defense]
        forest=70
        cave=70
        hills=60
        sand=60
        swamp=40
        snow=40
        ice=30
        plains=60
        shallow_water=20
        deep_water=0
    [/defense]
    [movement_costs]
        forest=1
        cave=1
        hills=1
        sand=1
        swamp=2
        snow=2
        ice=3
    [/movement_costs]
    [death]
        start_time=0
        [frame]
            image="nightgaunt/harpy-nightgaunt-death[1~7].png:100,50*6,nightgaunt/harpy-nightgaunt-death8.png:200"
        [/frame]
    [/death]
    {DEFENSE_ANIM "nightgaunt/harpy-nightgaunt-hit[1~3].png:75" "nightgaunt/harpy-nightgaunt-floatc1.png" {SOUND_LIST:HUMAN_FEMALE_HIT} }
    [standing_anim]
        start_time=0
        [frame]
            image="nightgaunt/harpy-nightgaunt-floatc[1~4].png:250"
        [/frame]
    [/standing_anim]
    [movement_anim]
        start_time=0
        [frame]
            image="nightgaunt/harpy-nightgaunt-floatc[1~4].png:250"
        [/frame]
    [/movement_anim]
    [idle_anim]
        {STANDARD_IDLE_FILTER}
        start_time=0
        [frame]
            image="nightgaunt/harpy-nightgaunt-idling[1~8].png:100"
        [/frame]
    [/idle_anim]

    [attack]
        name=dagger
        description=_"dagger"
        type=blade
        range=melee
        damage=9
        number=4
        icon=attacks/claws-shadow.png
    [/attack]

    [attack_anim]
        [filter_attack]
            name=knife
        [/filter_attack]
        offset=0.0~0.2,0.2~0.7,0.7~0.2,0.2~0.0
        start_time=-500
        [frame]
            image="nightgaunt/harpy-nightgaunt-talonb[1~8].png:100"
        [/frame]
        {SOUND:HIT_AND_MISS sword-1.ogg dagger-swish.wav -100}
    [/attack_anim]
[/unit_type]
