#textdomain wesnoth-The_High_Kingdom
[unit_type]
    id=Ekosian Cultist
    name= _ "Ekosian Cultist"
    race=high_kingdom
    image="unit_assests/initiate/cultist64.png"
    profile="unit_assests/initiate/cultist64.png"
    small_profile="unit_assests/initiate/cultist64.png"
    hitpoints=43
    movement_type=high_kingdom_foot
    movement=5
    experience=72
    gender=female,male
    level=2
    alignment=chaotic
    advances_to=Ekosian Riverguard, Ekosian Nightbringer
    cost=24
    usage=fighter mixed

    [male]
        gender=male
    profile="unit_assests/initiate/cultist64.png"
    small_profile="unit_assests/initiate/cultist64.png"
        die_sound={SOUND_LIST:HUMAN_DIE}
        {DEFENSE_ANIM "unit_assests/initiate/Cultist-defend[1~3,1].png:[75*3,1]" "unit_assests/initiate/cultist64.png" {SOUND_LIST:HUMAN_HIT} }
    [/male]

    description= _ "Ekosian cultists favor forest shadows and guile. Trained in stealth and ritual combat, they strike unseen and use dark rites to harry their enemies."

    die_sound={SOUND_LIST:HUMAN_FEMALE_DIE}
    [death]
        start_time=0
        [frame]
            image="unit_assests/initiate/Cultist-death[1~5].png:100,50*4,unit_assests/initiate/Cultist-death6.png:200"
        [/frame]
    [/death]
    {DEFENSE_ANIM "unit_assests/initiate/Cultist-defend[1~3,1].png:[75*3,1]" "unit_assests/initiate/cultist64.png" {SOUND_LIST:HUMAN_FEMALE_HIT} }

    [standing_anim]
        [frame]
            image="unit_assests/initiate/cultist64.png"
        [/frame]
    [/standing_anim]
    [standing_anim]
        start_time=0
        submerge=0.01
        [frame]
            image="unit_assests/initiate/Cultist-stand[5,6,1~4].png:100"
        [/frame]
    [/standing_anim]
    [movement_anim]
        start_time=0
        [frame]
            image="unit_assests/initiate/Cultist-stand[5,6,1~4].png:100"
        [/frame]
    [/movement_anim]
    
    [idle_anim]
        {STANDARD_IDLE_FILTER}

        start_time=0
        [frame]
            image="unit_assests/initiate/Cultist-idle[1~6].png:100,unit_assests/initiate/Cultist-idle3.png:100"
        [/frame]
    [/idle_anim]

    [attack]
        name=Dagger
        description=_"Dagger"
        type=pierce
        range=melee
        damage=5
        number=3
        #[specials]
        #    {WEAPON_SPECIAL_BACKSTAB}
        #[/specials]
        icon=attacks/dagger-curved.png
    [/attack]

    [attack_anim]
        [filter_attack]
            name=Dagger
        [/filter_attack]
        offset=0.0~0.2:300,0.2~0.7:200,0.7~0.2:200,0.2~0.0:100
        start_time=-400
        [frame]
            image="unit_assests/initiate/Cultist-attack[1~6].png:100"
        [/frame]
        {SOUND:HIT_AND_MISS claws.ogg dagger-swish.wav -100}
    [/attack_anim]

    [attack]
        name=Curse
        description=_"Curse"
        type=arcane
        range=ranged
        damage=10
        number=3
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        icon=attacks/curse.png
    [/attack]

    [attack_anim]
        [filter_attack]
            name=Curse
        [/filter_attack]
        offset=0.0~0.2:300,0.2~0.7:200,0.7~0.2:200,0.2~0.0:100
        start_time=-400
        [frame]
            image="unit_assests/initiate/Cultist-attack[1~6].png:100"
        [/frame]
        {SOUND:HIT_AND_MISS claws.ogg dagger-swish.wav -100}
    [/attack_anim]
[/unit_type]
