#textdomain wesnoth-The_High_Kingdom
[unit_type]
    id=Crawling Fortress
    name= _ "Crawling Fortress"
    race=high_kingdom
    image="unit_assests/beetle/crawling64.png"
    image_icon="unit_assests/beetle/crawling64.png~CROP(0,8,72,72)"
    profile="unit_assests/beetle/crawling64.png"
    hitpoints=90
    movement_type=hk_beetle
    movement=5
    experience=200
    gender=female,male
    level=3
    alignment=lawful
    advances_to=null
    cost=60
    usage=fighter

    description= _ "Stag Beatle Riders... Not quite as fast as horsemen on regular terrain, but a bit tougher, and better at dealing with rocks, hills, and brambles."

    die_sound={SOUND_LIST:HUMAN_FEMALE_DIE}
    [death]
        start_time=0
        [frame]
            image="unit_assests/beetle/Crawling_Fortress-death[1~6].png:100,50*5,unit_assests/beetle/Crawling_Fortress-death7.png:200"
        [/frame]
    [/death]
    {DEFENSE_ANIM "unit_assests/beetle/Crawling_Fortress-hit[1~3].png:75" "unit_assests/beetle/crawling64.png" {SOUND_LIST:HUMAN_FEMALE_HIT} }

    [standing_anim]
        start_time=0
        [frame]
            image="unit_assests/beetle/Crawling_Fortress-stand[1~6].png:100"
        [/frame]
    [/standing_anim]
    [movement_anim]
        start_time=0
        [frame]
            image="unit_assests/beetle/Crawling_Fortress-fly[1~6].png:100"
        [/frame]
    [/movement_anim]
    [idle_anim]
        {STANDARD_IDLE_FILTER}
        start_time=0
        [frame]
            image="unit_assests/beetle/Crawling_Fortress-idling[1~9].png:100,unit_assests/beetle/Crawling_Fortress-fly[4~6].png:100"
        [/frame]
    [/idle_anim]

    [attack]
        name=horn
        description=_"horn"
        type=pierce
        range=melee
        [specials]
            {WEAPON_SPECIAL_CHARGE}
        [/specials]
        damage=25
        number=1
        icon=attacks/scarab-horn.png
    [/attack]

    [attack]
        name=lance
        description=_"lance"
        type=pierce
        range=melee
        damage=15
        number=2
        icon=attacks/lance.png
    [/attack]

    [attack]
        name=catapult
        description=_"catapult"
        type=impact
        range=ranged
        damage=18
        number=2
        icon=attacks/claws-animal.png
    [/attack]

    [attack_anim]
        [filter_attack]
            name=horn
        [/filter_attack]
        offset=0.0~0.2,0.2~0.7,0.7~0.2,0.2~0.0
        start_time=-160
        [frame]
            image="unit_assests/beetle/Crawling_Fortress[1~4].png:100"
        [/frame]
        {SOUND:HIT_AND_MISS {SOUND_LIST:SWORD_SWISH} {SOUND_LIST:MISS} -25}
    [/attack_anim]
[/unit_type]
