#textdomain wesnoth-The_High_Kingdom
[unit_type]
    id=Priest of Anubis
    name= _ "Priest of Anubis"
    race=high_kingdom
    image="unit_assests/Priest_of_Anubis/Priest_of_Anubis-enchantress.png"
    profile="unit_assests/Priest_of_Anubis/Priest_of_Anubis-enchantress-portrait.webp"
    small_profile="unit_assests/Priest_of_Anubis/Priest_of_Anubis-enchantress-portrait.webp~CROP(0,0,628,628)"
    halo=halo/elven/shyde-stationary-halo[1~6].png:150
    hitpoints=46
    movement_type=high_kingdom_foot
    movement=5
    experience=200
    gender=female,male
    level=3
    alignment=chaotic
    advances_to=Emissary of Osiris
    cost=57
    usage=healer

    description= _ "The legendary Priests of Anubis are beings admired by the majority of people. They carry themselves with grace and confidence, knowing full well the power they hold over the ordinary folk. Thanks to their influence, they develop a network of connections to support their own goals or those they are given by unit_assests/Priest_of_Anubis/Priest_of_Anubis lorekeepers."
    [abilities]
        {ABILITY_CURES}
        #{ABILITY_EMBALM}
        {ABILITY_DARKENS}
    [/abilities]
    [healing_anim]
        start_time=-200
        [frame]
            image="unit_assests/Priest_of_Anubis/Priest_of_Anubis-enchantress-sing[1~8].png:100"
        [/frame]
        [frame]
            halo=halo/elven/shaman-heal-halo-[1~7].png
        [/frame]
    [/healing_anim]
    [resistance]
        arcane=120
    [/resistance]
    [defense]
        cave=70
        fungus=60
    [/defense]
    [movement_costs]
        cave=1
        fungus=1
    [/movement_costs]

    die_sound={SOUND_LIST:HUMAN_FEMALE_DIE}
    [death]
        start_time=0
        [frame]
            image="unit_assests/Priest_of_Anubis/Priest_of_Anubis-enchantress-death[1~7].png:100,50*6,unit_assests/Priest_of_Anubis/Priest_of_Anubis-enchantress-death8.png:200"
        [/frame]
    [/death]
    {DEFENSE_ANIM "unit_assests/Priest_of_Anubis/Priest_of_Anubis-enchantress-hit[1~3].png:75" "unit_assests/Priest_of_Anubis/Priest_of_Anubis-enchantress.png" {SOUND_LIST:HUMAN_FEMALE_HIT} }
    [standing_anim]
        [frame]
            image="unit_assests/Priest_of_Anubis/Priest_of_Anubis-enchantress.png"
        [/frame]
    [/standing_anim]
    [standing_anim]
        start_time=0

        submerge=0.01
        [frame]
            image="unit_assests/Priest_of_Anubis/Priest_of_Anubis-enchantress-stand[1~6].png:100"
        [/frame]
    [/standing_anim]
    [movement_anim]
        start_time=0
        [frame]
            image="unit_assests/Priest_of_Anubis/Priest_of_Anubis-enchantress-fly[1~6].png:100"
        [/frame]
    [/movement_anim]
    
    
    
    
    [idle_anim]
        {STANDARD_IDLE_FILTER}
        start_time=0

        [frame]
            image="unit_assests/Priest_of_Anubis/Priest_of_Anubis-enchantress-idling[1~15].png:100"
        [/frame]
    [/idle_anim]

    [attack]
        name=knife
        description=_"knife"
        type=blade
        range=melee
        damage=6
        number=3
        icon=attacks/dagger-human.png
    [/attack]
    [attack]
        name=Embalming Fluid
        description=_"Embalming Fluid"
        icon=attacks/faerie-fire.png
        type=arcane
        range=ranged
        [specials]
            {WEAPON_SPECIAL_POISON}
        [/specials]
        damage=11
        number=3
    [/attack]
    [attack]
        name=Judgement
        description=_"Light of Judgement"
        icon=attacks/wail.png
        type=arcane
        range=ranged
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
            #{WEAPON_SPECIAL_JUSTIFIED} Does bonus damage against chaotic foes, and less against Lawful
        [/specials]
        damage=18
        number=2
    [/attack]

    [attack_anim]
        [filter_attack]
            name=dagger
        [/filter_attack]
        direction=sw,se
        offset=0.0~0.2:80,0.2~0.5:80,0.5:160,0.5~0.2:80,0.2~0.0:80
        start_time=-160
        [frame]
            image="unit_assests/Priest_of_Anubis/Priest_of_Anubis-enchantress-dagger[1~6].png:80"
        [/frame]
        {SOUND:HIT_AND_MISS dagger-swish.wav {SOUND_LIST:MISS} -100}
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=dagger
        [/filter_attack]
        direction=nw,ne
        offset=0.0~0.2:80,0.2~0.5:80,0.5:160,0.5~0.2:80,0.2~0.0:80
        directional_y=0~-10:160,-10:160,-10~0:160
        start_time=-160
        [frame]
            image="unit_assests/Priest_of_Anubis/Priest_of_Anubis-enchantress-dagger[1~6].png:80"
        [/frame]
        {SOUND:HIT_AND_MISS dagger-swish.wav {SOUND_LIST:MISS} -100}
    [/attack_anim]

    [attack_anim]
        [filter_attack]
            name=Embalming Fluid
        [/filter_attack]
        missile_start_time=-100
        [missile_frame]
            offset=1.0
            duration=350
            image=halo/elven/shaman-heal-halo-[1~7].png:50~BLEND(0,76,0,100%)
            auto_vflip=no
        [/missile_frame]
        start_time=-200
        [frame]
            image="unit_assests/Priest_of_Anubis/Priest_of_Anubis-enchantress-sing[1~8].png:100"
        [/frame]
        {SOUND:HIT_AND_MISS magic-holy-miss-2.ogg magic-holy-miss-1.ogg -75}
        halo_start_time=-150
        [halo_frame]
            halo=halo/saurian-magic-halo-[1~7].png:60
            halo_x,halo_y=0,-12
            auto_vflip=no
        [/halo_frame]
        [frame]
            image="unit_assests/Priest_of_Anubis/Priest_of_Anubis-enchantress.png:50"
        [/frame]
    [/attack_anim]

    [attack_anim]
        [filter_attack]
            name=Judgement
        [/filter_attack]
        missile_start_time=-200
        [missile_frame]
            offset=1.0
            image="unit_assests/Priest_of_Anubis/Priest_of_Anubis-wail2-front[1~6].png:75,unit_assests/Priest_of_Anubis/Priest_of_Anubis-wail2-front[7~10].png:50"
            auto_vflip=no
        [/missile_frame]
        missile2_start_time=-200
        [missile2_frame]
            offset=1.0
            image="unit_assests/Priest_of_Anubis/Priest_of_Anubis-wail2-back[1~6].png:75,unit_assests/Priest_of_Anubis/Priest_of_Anubis-wail2-back[7~10].png:50"
            layer=20
            auto_vflip=no
        [/missile2_frame]
        start_time=-200
        [frame]
            image="unit_assests/Priest_of_Anubis/Priest_of_Anubis-enchantress-sing[1~8].png:100"
            blend_color=176,212,255
            blend_ratio=0.2
        [/frame]
        halo_start_time=-150
        [halo_frame]
            halo=halo/saurian-magic-halo-[1~7].png:60
            halo_x,halo_y=0,-12
            auto_vflip=no
        [/halo_frame]
        attack_sound_start_time=-75
        [attack_sound_frame]
            sound=wail-sml.wav
        [/attack_sound_frame]
        [frame]
            image="unit_assests/Priest_of_Anubis/Priest_of_Anubis-enchantress.png:50"
            blend_color=176,212,255
            blend_ratio=0.2
        [/frame]
    [/attack_anim]
[/unit_type]
