#textdomain wesnoth-The_High_Kingdom
[unit_type]
    id=Bast Nightprowler
    name= _ "Bast Nightprowler"
    race=high_kingdom
    image="unit_assests/Bast_Nightprowler/Bast_Nightprowler-emissary.png"
    image_icon="unit_assests/Bast_Nightprowler/Bast_Nightprowler-emissary.png"
    profile="unit_assests/Bast_Nightprowler/Bast_Nightprowler-emissary-portrait-female.webp"
    small_profile="unit_assests/Bast_Nightprowler/Bast_Nightprowler-emissary-portrait-female.webp~CROP(0,0,667,667)"
    hitpoints=66
    movement_type=high_kingdom_foot
    movement=10
    experience=90
    gender=female
    level=4
    alignment=chaotic
    advances_to=null
    {AMLA_EMISSARY}
    cost=65
    usage=scout

    description= _ "Elite messengers become the quick emissaries of powerful leaders, whom they gained the trust of after decades of work. Swift as the wind, they are matched in speed only by the griffins of the high peaks. As they often carry messages of high importance in troubled times, they can defend themselves quite well by using their sharp talons and unrivalled air mobility. "

    [resistance]
        cold=80
    [/resistance]
    [defense]
        deep_water=50
        flat=40
        sand=40
        forest=-50
        hills=40
        mountains=30
        frozen=40
        unwalkable=50
    [/defense]
    die_sound={SOUND_LIST:HUMAN_FEMALE_DIE}
    [death]
        start_time=0
        [frame]
            image="unit_assests/Bast_Nightprowler/Bast_Nightprowler-emissary-death[1~5].png:100,50*5,unit_assests/Bast_Nightprowler/Bast_Nightprowler-emissary-death6.png:200"
        [/frame]
    [/death]
    {DEFENSE_ANIM "unit_assests/Bast_Nightprowler/Bast_Nightprowler-emissary-hit[1~3,1].png:[75*3,1]" "unit_assests/Bast_Nightprowler/Bast_Nightprowler-emissary.png" {SOUND_LIST:HUMAN_FEMALE_HIT} }

    [standing_anim]
        [frame]
            image="unit_assests/Bast_Nightprowler/Bast_Nightprowler-emissary.png"
        [/frame]
    [/standing_anim]
    [standing_anim]
        start_time=0

        submerge=0.01
        [frame]
            image="unit_assests/Bast_Nightprowler/Bast_Nightprowler-emissary-stand[1~2].png:200"
        [/frame]
    [/standing_anim]
    [movement_anim]
        start_time=0
        [frame]
            image="unit_assests/Bast_Nightprowler/Bast_Nightprowler-emissary-fly[1~2].png:200"
        [/frame]
    [/movement_anim]
    
    
    
    
    [idle_anim]
        {STANDARD_IDLE_FILTER}
        start_time=0

        [frame]
            image="unit_assests/Bast_Nightprowler/Bast_Nightprowler-emissary-talon1.png:200,unit_assests/Bast_Nightprowler/Bast_Nightprowler-emissary-idling[1~10].png:100"
        [/frame]
    [/idle_anim]

    [attack]
        name=claws
        description=_"talons"
        type=blade
        range=melee
        damage=9
        number=4
        icon=attacks/claws-animal.png
    [/attack]

    [attack_anim]
        [filter_attack]
            name=claws
        [/filter_attack]
        offset=0.0~0.2,0.2~0.7,0.7~0.2,0.2~0.0
        start_time=-160
        [frame]
            image="unit_assests/Bast_Nightprowler/Bast_Nightprowler-emissary[1~5].png:100"
        [/frame]
        {SOUND:HIT_AND_MISS {SOUND_LIST:SWORD_SWISH} {SOUND_LIST:MISS} -25}
    [/attack_anim]

[/unit_type]
