[textdomain]
    name="wesnoth-hive"
    path="data/add-ons/Underlanders/factions/The_Hive/translations"
[/textdomain]

#textdomain wesnoth-hive

#ifdef MULTIPLAYER

{~add-ons/Underlanders/factions/The_Hive/load_hive.cfg}
{~add-ons/Underlanders/factions/The_Hive/eras.cfg}

#endif

#TODO:
    # Lanturn Bearer Terrian defence needs re view
    # Yellow Jacket Terrian defence needs re view
    # Hornet: cheap, no poison, but attack phermones, reduce damage
