[textdomain]
    name="wesnoth-High_Kingdom"
    path="data/add-ons/The_High_Kingdom/translations"
[/textdomain]

#textdomain wesnoth-The_High_Kingdom

# this is how lua is included in the core wesnoth
# [lua]
#     code=<<
# wesnoth.dofile 'lua/wml-tags.lua'
# wesnoth.dofile 'lua/feeding.lua'
# wesnoth.dofile 'lua/diversion.lua'
# wesnoth.dofile 'lua/stun.lua'
# >>
# [/lua]

#ifdef MULTIPLAYER

{~add-ons/The_High_Kingdom/load_high_kingdom.cfg}
{~add-ons/The_High_Kingdom/eras.cfg} 

#endif