#define ABILITIES_EVENTS
	[event]			#Thieves can steal.
		name=attacker hits
		first_time_only=no
		[filter]
			ability=steal
		[/filter]
		[filter_attack]
			range=melee
		[/filter_attack]
		{VARIABLE_OP gold_stolen rand (0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,1,1,2,2,3)}
		[gold]
			side=$unit.side
			amount=$gold_stolen
		[/gold]
		{CLEAR_VARIABLE gold_stolen}
	[/event]

#    [event]         # add Embalm
#        name=moveto
#        first_time_only=no
#        [filter_adjacent]
#            ability=embalm
#        [/filter_adjacent]
#
#    [/event]

    [event]         # Embalm
        name=last breath
        first_time_only=no
        [filter]
            [not]
                status=unplagueable
            [/not]
        [/filter]
        [filter_adjacent]
            is_enemy=no
            [filter]
                ability=embalm
            [/filter]
        [/filter_adjacent]
        {VARIABLE unit.hitpoints 40}
		[for]
			array=unit.modifications.object
			[do]
				[if]
					[variable]
						name=unit.modifications.object[$i].sort
						equals=limited
					[/variable]
					[then]
						{CLEAR_VARIABLE unit.modifications.object[$i]}
						{VARIABLE_OP i sub 1}
					[/then]
				[/if]
			[/do]
		[/for]
        {ADVANCE_UNIT x,y=$x1,$y1 "Khat"}
        {UPDATE_STATS}
    [/event]

    [event]         # Embalmer's Protection
        name=last breath
        first_time_only=no
        [filter]
            ability=embalmers_protection
            [not]
                status=unplagueable
            [/not]
        [/filter]
        {VARIABLE unit.hitpoints 40}
		[for]
			array=unit.modifications.object
			[do]
				[if]
					[variable]
						name=unit.modifications.object[$i].sort
						equals=limited
					[/variable]
					[then]
						{CLEAR_VARIABLE unit.modifications.object[$i]}
						{VARIABLE_OP i sub 1}
					[/then]
				[/if]
			[/do]
		[/for]
        {ADVANCE_UNIT x,y=$x1,$y1 "Khat"}
        {UPDATE_STATS}
    [/event]

    #enddef