#these macros are used in the faction files, and also in ForestDragon's Campaign Harpyifier modification:

#Todo: write a script to auto generate these lists from the unit files

#define HIGH_KINGDOM_ERA_RECRUIT_LIST
Anuvian Hunter, Big Beetle, Ekosian Apothecary, Ekosian Initiate, Ekosian Soldier, Ibian Mercenary, Shearin Pirate#enddef

#define HIGH_KINGDOM_ERA_AOH_RECRUIT_LIST
Anuvian Pitati, Ekosian Cultist, Ekosian Embalmer, Ekosian Visir, Ekosian Warrior, Ibian Skirmisher, Scarab Rider, Shearin Buccaneer#enddef

#define HIGH_KINGDOM_ERA_AOL_RECRUIT_LIST
Anuvian Charioteer, Crawling Fortress, Ekosian Charioteer, Ekosian Nightbringer, Ekosian Riverguard, Ekosian Shock Trooper, Ekosian Sobek, Sun Seer, Ibian Great Chief, Night Maiden, Priest of Anubis, Shearin Marauder, Ta-Seti Champion#enddef
