#textdomain wesnoth-The_High_Kingdom

#define TRAIT_TREACHEROUS
    [dummy]
        id=treacherous
        availability="musthave"
        male_name=_ "treacherous"
        female_name=_ "female^treacherous"
        help_text=_ "This unit will switch sides if at start of your turn you did not have enough money to pay your units."        
    [/dummy]
#    [trait]
#        id=treacherous
#        availability="musthave"
#        male_name=_ "treacherous"
#        female_name=_ "female^treacherous"
#        help_text=_ "This unit will switch sides if at start of your turn you did not have enough money to pay your units."
#        [if]
#            variable=side.gold
#        [/if]
#        [then]
#            [set_variable]
#                name=unit.side
#                add=1
#            [/set_variable]
#        [/then]
#    [/trait]
#enddef

#define TRAIT_EVENT_TREACHEROUS
    [event]
        name=side turn
        first_time_only=no
        [filter]
            trait=treacherous
        [/filter]
        [if]
            [gold]
                side=$side_number
                less_than=0
            [/gold]
            [then]
                [message]
                    speaker=unit
                    message=_ "They don't pay me enough for this! I'm going to find somebody who will!"
                [/message]
            [/then]
        [/if]
#        [filter_condition]
#            [gold]
#                side=$unit.side
#                less_than=0
#            [/gold]
#        [/filter_condition]
#        [message]
#            #   race=pirate
#            message=_ "They don't pay me enough for this! I'm going to find somebody who will!"
#        [/message]
        # should be set to a random oppoents side
        [set_variable]
            {VARIABLE unit.side 2}
        [/set_variable]
        # Unit's new side has the option to recruit the unit for it's recruit cost
        # if it is a computer player, the answer is always yes if they can afford it
        # but maybe this is too much, and it is better to just assign them to a different side, then they flip back
    [/event]
#enddef

#define TRAIT_TESTER
    [trait]
        id=trait_tester
        name=_"Test Subject"
        help_text=_"This unit has been chosen to be a test subject!"
        [effect]
            apply_to=attack
            range=melee
            increase_damage=-90%
            increase_attacks=10
        [/effect]
    [/trait]
#enddef

#define TRAIT_TESTER_EVENT
    [event]
        name=turn start
        [message]
            speaker=unit
            message=_ "I am a test subject!"
        [/message]
    [/event]
#enddef

[resource]
    id=hk_trait_events
    {TRAIT_EVENT_TREACHEROUS}
    {TRAIT_TESTER_EVENT}
[/resource]