#textdomain wesnoth-The_High_Kingdom

#define ABILITY_HEAL_12
    [heals]
        value=12
        id=healing
        affect_allies=yes
        name= _ "heals +12"
        female_name= _ "female^heals +12"
        description= _ "This unit uses ancient magic to heal units more quickly than is normally possible on the battlefield.

A unit cared for by this healer may heal up to 12 HP per turn, or be cured of poison."
        affect_self=no
        poison=slowed
        [affect_adjacent]
        [/affect_adjacent]
    [/heals]
#enddef

#define ABILITY_HEAL_4
    [heals]
        value=4
        id=healing
        affect_allies=yes
        name= _ "heals +4"
        female_name= _ "female^heals +4"
        description= _ "This unit uses ancient magic to heal units more quickly than is normally possible on the battlefield.

A unit cared for by this healer may heal up to 4 HP per turn, or be cured of poison."
        affect_self=no
        poison=slowed
        [affect_adjacent]
        [/affect_adjacent]
    [/heals]
#enddef

#define ABILITY_DARKENS
	[illuminates]
		id=darkens
		value=-25
		min_value=-25
		max_value=25
		cumulative=no
		affect_self=yes
		halo_image="halo/darkens-aura.png"
		name= _ "darkens"
		female_name= _ "female^darkens"
		description= _ "This unit darkens the surrounding area, making chaotic units fight better, and lawful units fight worse.

Any units adjacent to this unit will fight as if it were dusk when it is day, and as if it were night when it is dusk."
	[/illuminates]
#enddef

#define ABILITY_DEFENDER
    [dummy]
        id=defeder
        name=_"defender"
        description= _ "Adjacent unit of the same side take %20 less damage"
    [/dummy]
#enddef

#define ABILITY_EMBALMER
    [dummy]
        id=embalmer
        name=_"embalmer"
        description= _ "Adjacent unit of the same side will become Khat if they die (except those unaffected by plauge)"
    [/dummy]
#enddef

#define ABILITY_ROBBERY
    [dummy]
        id=robbery
        name=_"robbery"
        description=_"When this unit kills an enemy unit, gain gold equal to 2 times its level"
    [/dummy]
#enddef

#define ABILITY_SKULK
    [hides]
        id=skulk_underlands
        name= _ "skulk"
        name_inactive= _ "skulk"
        description= _ "This unit can hide in swamps and shallow water, and remain undetected by its enemies.

Enemy units cannot see this unit while it is in a swamp or shallow water hex, except if they have units next to it. Any enemy unit that first discovers this unit immediately loses all its remaining movement."
        description_inactive= _ "This unit can hide in swamps and shallow water, and remain undetected by its enemies.

Enemy units cannot see this unit while it is in a swamp or shallow water hex, except if they have units next to it. Any enemy unit that first discovers this unit immediately loses all its remaining movement."
        affect_self=yes
        [filter_self]
            [filter_location]
                terrain=Chs,Khs,Ss,Ss^Vhs,Ss^Vm,Wst,St
            [/filter_location]
        [/filter_self]
    [/hides]
#enddef

#define WEAPON_SPECIAL_CHAOS
#enddef

#define WEAPON_SPECIAL_SEIGE
#enddef

#define WEAPON_SPECIAL_DRIVEBY
##    [dummy]
##        id=driveby
##        name= _ "Driveby"
##        female_name= _ "female^driveby"
##        description= _ "This unit uses ancient magic to heal units more quickly than is normally possible on the battlefield.
##A unit cared for by this healer may heal up to 4 HP per turn."
##    [/dummy]
##
##    [event]
##        name=attack
##        first_time_only=yes
##
##        active_on=offense
##        apply_to=self
##        overwrite_specials=1
##
##        affect_allies=no
##    [/event]
#enddef



# wmllint: unbalanced-on
# wmlxgettext: [abilities]
#define ABILITY_HARPY_PHOENIX
    [dummy]
        id=harpy_phoenix
        name=_ "rise from ashes"
        description=_ "When this unit is killed, they revive with full hitpoints and gain +25% damage for the rest of the scenario. Works once per scenario."
    [/dummy]
    [/abilities]

    [event]
    name=last breath
    first_time_only=no
    id=harpy_phoenix_event
    [filter]
        ability=harpy_phoenix
        [not]
            ability=harpy_phoenix_revived
        [/not]
    [/filter]
    [animate_unit]
        flag=phoenix_anim
        [filter]
            id=$unit.id
        [/filter]
    [/animate_unit]
    [heal_unit]
        [filter]
            id=$unit.id
        [/filter]
        amount=full
        animate=no
        restore_statuses=no
    [/heal_unit]
    [object]
        silent=yes
        duration=scenario
        [filter]
            id=$unit.id
        [/filter]
        [effect]
           apply_to=new_ability
           [abilities]
                [leadership]
                    id=harpy_phoenix_revived
                    add=25
                    name=_"revived"
                    description=_ "This unit has +25% damage on all attacks but cannot revive again. Lasts until the end of this scenario."
                [/leadership]
           [/abilities]
        [/effect]
    [/object]
    [/event]
    [+abilities] # wmlxgettext: [/abilities]
#enddef
# wmllint: unbalanced-off