#textdomain wesnoth-The_High_Kingdom

#define ABILITY_MARKSMAN_LEADERSHIP
	[chance_to_hit]
		id=marksman_leadership
		name= _ "cantor"
		female_name= _ "female^cantor"
		description= _ "This unit grants marksman to all ranged attacks of all adjacent allies."
		value=60
		cumulative=yes
		active_on=offense
		halo_image_self="misc/marksman-1.png:100,misc/marksman-2.png:100,misc/marksman-3.png:100,misc/marksman-2.png:100"
		[filter_student]
			[filter_weapon]
				range=ranged
			[/filter_weapon]
		[/filter_student]
		affect_self=yes
		affect_allies=yes
		[affect_adjacent]
		[/affect_adjacent]
	[/chance_to_hit]
#enddef

#define ABILITY_HEAL_12
    [heals]
        value=12
        id=healing
        affect_allies=yes
        name= _ "heals +12"
        female_name= _ "female^heals +12"
        description= _ "This unit uses ancient magic to heal units more quickly than is normally possible on the battlefield.

A unit cared for by this healer may heal up to 12 HP per turn, or be cured of poison."
        affect_self=no
        poison=slowed
        [affect_adjacent]
        [/affect_adjacent]
    [/heals]
#enddef

#define ABILITY_HEAL_4
    [heals]
        value=4
        id=healing
        affect_allies=yes
        name= _ "heals +4"
        female_name= _ "female^heals +4"
        description= _ "This unit uses ancient magic to heal units more quickly than is normally possible on the battlefield.

A unit cared for by this healer may heal up to 4 HP per turn, or be cured of poison."
        affect_self=no
        poison=cured
        [affect_adjacent]
        [/affect_adjacent]
    [/heals]
#enddef

#define ABILITY_EMBALMER
    [dummy]
        id=embalm
        name= _ "embalm"
        description= _ "When an allied unit dies next to an Embalmer, that unit is replaced with a Khat. This doesn’t work on Undead."
    [/dummy]
#enddef

#define ABILITY_EMBALMERS_PROTECTION
    [dummy]
        id=embalmers_protection
        name=_"Embalmer's Protection"
        description= _"If this unit dies, it is turned into a Khat"
    [/dummy]
#enddef

#define ABILITY_DARKENS
	[illuminates]
		id=darkens
		value=-25
		min_value=-25
		max_value=25
		cumulative=no
		affect_self=yes
		halo_image="halo/darkens-aura.png"
		name= _ "darkens"
		female_name= _ "female^darkens"
		description= _ "This unit darkens the surrounding area, making chaotic units fight better, and lawful units fight worse.

Any units adjacent to this unit will fight as if it were dusk when it is day, and as if it were night when it is dusk."
	[/illuminates]
#enddef

#define ABILITY_DEFENDER
    [dummy]
        id=defeder
        name=_"defender"
        description= _ "Adjacent unit of the same side take %20 less damage"
    [/dummy]
#enddef

#define ABILITY_ROBBERY
    [dummy]
        id=robbery
        name=_"robbery"
        description=_"When this unit kills an enemy unit, gain gold equal to 1 plus 2 times the slain unit's level"
    [/dummy]
    # ideas
    # -This unit could have the trait treacherous, where it costs 1 extra upkeep per turn
    #  or this could be it turns rogue if you go negative in money
    #  > I think turn rogue is the better, but harder option
    # -feral units immune to robbery
    # -pirates can't be loyal
#enddef
#define ABILITY_EVENT_ROBBERY
    [event]			#Pirates rob
	    name=die
	    first_time_only=no
        [filter]
            [not]
                trait=feral
            [/not]
        [/filter]
	    [filter_second]
	    	ability=robbery
	    [/filter_second]
	    {VARIABLE gold_stolen $unit.level}
        [set_variable]
            name=gold_stolen
            add=$gold_stolen
            add=1
        [/set_variable]
	    [gold]
	    	side=$second_unit.side
	    	amount=$gold_stolen
	    [/gold] 
	    [floating_text]
	    	x,y=$x1,$y1
	    	text="<span color='yellow'>" + _ "+$gold_stolen gold" + "</span>"
	    [/floating_text]
	    {CLEAR_VARIABLE gold_stolen}
	[/event]
#enddef

#define ABILITY_SKULK
    [hides]
        id=skulk_underlands
        name= _ "skulk"
        name_inactive= _ "skulk"
        description= _ "This unit can hide in swamps and shallow water, and remain undetected by its enemies.

Enemy units cannot see this unit while it is in a swamp or shallow water hex, except if they have units next to it. Any enemy unit that first discovers this unit immediately loses all its remaining movement."
        description_inactive= _ "This unit can hide in swamps and shallow water, and remain undetected by its enemies.

Enemy units cannot see this unit while it is in a swamp or shallow water hex, except if they have units next to it. Any enemy unit that first discovers this unit immediately loses all its remaining movement."
        affect_self=yes
        [filter_self]
            [filter_location]
                terrain=Chs,Khs,Ss,Ss^Vhs,Ss^Vm,Wst,St
            [/filter_location]
        [/filter_self]
    [/hides]
#enddef

#define WEAPON_SPECIAL_CHAOS
#enddef

#define WEAPON_SPECIAL_SEIGE
#enddef

#define WEAPON_SPECIAL_DRIVEBY
##    [dummy]
##        id=driveby
##        name= _ "Driveby"
##        female_name= _ "female^driveby"
##        description= _ "This unit uses ancient magic to heal units more quickly than is normally possible on the battlefield.
##A unit cared for by this healer may heal up to 4 HP per turn."
##    [/dummy]
##
##    [event]
##        name=attack
##        first_time_only=yes
##
##        active_on=offense
##        apply_to=self
##        overwrite_specials=1
##
##        affect_allies=no
##    [/event]
#enddef



# wmllint: unbalanced-on
# wmlxgettext: [abilities]
#define ABILITY_HARPY_PHOENIX
    [dummy]
        id=harpy_phoenix
        name=_ "rise from ashes"
        description=_ "When this unit is killed, they revive with full hitpoints and gain +25% damage for the rest of the scenario. Works once per scenario."
    [/dummy]
    [/abilities]

    [event]
    name=last breath
    first_time_only=no
    id=harpy_phoenix_event
    [filter]
        ability=harpy_phoenix
        [not]
            ability=harpy_phoenix_revived
        [/not]
    [/filter]
    [animate_unit]
        flag=phoenix_anim
        [filter]
            id=$unit.id
        [/filter]
    [/animate_unit]
    [heal_unit]
        [filter]
            id=$unit.id
        [/filter]
        amount=full
        animate=no
        restore_statuses=no
    [/heal_unit]
    [object]
        silent=yes
        duration=scenario
        [filter]
            id=$unit.id
        [/filter]
        [effect]
           apply_to=new_ability
           [abilities]
                [leadership]
                    id=harpy_phoenix_revived
                    add=25
                    name=_"revived"
                    description=_ "This unit has +25% damage on all attacks but cannot revive again. Lasts until the end of this scenario."
                [/leadership]
           [/abilities]
        [/effect]
    [/object]
    [/event]
    [+abilities] # wmlxgettext: [/abilities]
#enddef

#define UPDATE_STATS
	[update_stats]
		x,y=$x1,$y1
	[/update_stats]
#enddef

[resource]
    id=hk_ability_events
    {ABILITY_EVENT_ROBBERY}
[/resource]

# wmllint: unbalanced-off